<div class="center_block">
<p class="product_h_product"><strong>Рубрика: 
<%= raw @product.main_categories.map{|x| link_to( x.name, category_path(x), :class => "menu_left")}.join(', ') -%>
</strong></p>
</div>

