<% cache('sale_products', :expires_in =>24.hours) do -%>
  <% @scrollable_products.each do |product| -%>
    <div>
 	    <%= link_to product_image(product, false, false), product_path(product), :target => "_blank" %>		 
	    <div class="g-hidden">
        <%= render :partial => "popup-info", :locals => { :product => product } %>
 	    </div>
 	  </div>
 	  <% end -%>		  
<% end -%>	  	  
