<% content_for :meta_description, "giftb2b.ru" -%>
<% content_for :meta_keywords, "gifts" -%>
<% content_for :document_ready, "run_scrollable();" -%>
<div class="content">
  <div class="scrollable-control"><%= link_to 'Новинки', change_scrollable_main_index_path, :remote => true, :id => "novelty_link", :class => "selected"  %>
   <%= link_to "Распродажа", change_scrollable_main_index_path(:sale => 1), :remote => true, :id => "sale_link" %> </div>
 <div id="novice_animation">
	      <img alt='Loading' src='/images/loading.gif' widht="16px">
	      </div>   
	<%= render :partial => "scrollable" %>
     
<div class="spacer"></div>  
<div class="spacer"></div>  
<div class="spacer"></div>  
<div class="center_block">
<script type="text/javascript">
  $(document).ready(function()
  {
    $('.all-list').toggle(function(){
      $(this).prev().html('-');
    }, function(){
      $(this).prev().html('+');
    });    

    $('.all-list').bind('click', function(){
      $(this).prev().prev().parent().find('li.g-hidden').toggle();        
      return false;     
    });
  })
</script>
<ul id="virtual_catalog" class="ul_v">
<%= render :partial => 'catalog_img' %>
</ul>
</div> 
</div>
