<% content_for :meta_description, "giftb2b.ru" -%>
<% content_for :meta_keywords, "gifts" -%>
<script type="text/javascript">
	$(function() {
		$("div#scrollable").smoothDivScroll({ autoScroll: "onstart", autoScrollDirection: "backandforth", autoScrollStep: 1, autoScrollInterval: 15, startAtElementId: "startAtMe", visibleHotSpots: "always"});

	});
</script>
<div class="content">
  <div><h1>Новинки</h1></div>
  <div id="scrollable">
	  <div class="scrollingHotSpotLeft"></div>
	  <div class="scrollingHotSpotRight"></div>
	  <div class="scrollWrapper">
	  	<div class="scrollableArea">
	  	  <% @new_products.each do |item| -%>
	  	    <%= link_to product_image(item), product_path(item), :target => "_blank" %>		 
	  	  <% end -%>		  
	  	</div>
	  </div>
  </div>
<div class="spacer"></div>  
<div class="spacer"></div>  
<div class="spacer"></div>  
<div class="center_block">
<script type="text/javascript">
  $(document).ready(function()
  {
    $('.all-list').toggle(function(){
      $(this).prev().html('-');
    }, function(){
      $(this).prev().html('+');
    });    

    $('.all-list').bind('click', function(){
      $(this).prev().prev().parent().find('li.g-hidden').toggle();        
      return false;     
    });
  })
</script>
<ul class="ul_v">
<%= render :partial => 'catalog_img' %>
</ul>
</div> 
</div>
