<div class="content">
      <div class="banner_center"></div> 
      <div class="banner_center"></div> 
      <div class="banner_center"></div> 
      <div class="banner_center"></div> 

   
      <div class="center_block"> 
          <%= render :partial => 'shared/catalog_img' %>
      </div> 
</div>
