  <div class="city-filter">
    <%= link_to 'Москва', city_firm_path("москва"), :remote => true, :class => "pseudo-link"%>
    <%= link_to 'С-Петербург', city_firm_path("санкт-петербург"), :remote => true, :class => "pseudo-link"%>
    <%#= link_to 'Другой город', "#", :remote => true, :class => "pseudo-link"%>
  </div>
