<h1>Запрос на изменение пароля</h1>
<p>Привет <%= @resource.email %>!</p>

<p>На сайте <%= Settings.site_name %> была запрошена смена пароля для Вашего аккаунта. Для завершения этой процедуры перейдите по ссылке:</p>

<p><%= link_to 'Изменить мой пароль', auth_engine.edit_user_password_url(:reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы не запрашивали смену пароля то проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен пока вы перейдете по ссылке, что указана выше.</p>
