  $background_color:#3ec2d2;
  $search_background_color: #481f0d;
  $search_line_color: #ccc;
  $background_color_search: #b9e3ea; 
  $background_color_search_inner: #c5e8ee;
  $logo_url: image-url("base/images/giftpoisk_logo.png");  
  $c_braun:#481f0d;
  $c_blue:#32a3b1;
  $c_light_blue:#3ec2d2;
  $c_dark_blue:#0173C0;
  $c_side_menu: $c_braun;
  $side_menu_background: #F6F5FF;
