<% title "Редактирование записи" -%>
<% page_title "Образец #{@sample.name}" -%>

<%= render :partial => 'sample' %>

<div class="clear"></div>

<p class="navi">
<%= link_to '<< К списку образцов', samples_path  %>
</p>

