<% page_title "Заказ оформлен!" -%>

<div class="content">
<h1>Заказ оформлен</h1>

<p>Ваш заказ под номером <strong><%= @lk_order.id %></strong> отправлен на обработку в компанию <strong><%= @lk_order.firm.short_name %></strong>.</p>
<div class="spacer"></div>
<p>В ближайшее время с Вами свяжется менеджер этой компании для уточнения деталей заказа</p>

<% if current_user -%>
<div class="spacer"></div>
  <p>Отслеживать состояние обработки Вашего заказа вы можете в <%= link_to "личном кабинете", user_orders_path %></p>
  
<% end -%>

</div>
