<p>
<ul id="news_menu">
  <li><%= main_menu_item('Черновики', drafts_news_index_path, [3,4]) %></li>
  <li><%= main_menu_item('На модерации', moderate_news_index_path, [0]) %></li>
  <li><%= main_menu_item('Опубликованные', published_news_index_path, [1]) %></li>
  <li><%= main_menu_item('В архиве', archived_news_index_path, [2]) %></li>
</ul>
</p>

