  <table class="table table-striped table-bordered table-condensed">
  <tr>
    <th  class="th_date_long"><%= action_name == "archived" ? "Отправлено в архив" : "Опубликовано" %></th>
    <th>Автор</th>
    <th>Заголовок</th>
  </tr>
   <% @news.each do |item| -%>
     <tr>
       <td><%= I18n.l(item.updated_at, :format => :digital) %></td>
       <td><%= user_name item.created_author %></td>      
       <td><%= link_to item.title, main_app.news_url(item.permalink, :host => "giftb2b.ru") %></td>
     </tr>
   <% end -%>
</table>
