<h3>Требования к новостям:</h3>
<p class="text">
<% if current_user.is_lk_supplier? -%>
1. Новость не должна содержать активных ссылок. <br />
2. Новость должна быть актуальной. <br />
3. Новость должна быть интересной для целевой аудитории портала: рекламные агентства. <br />
4. Новость не должна содержать ненормативную лексику и оскорбительные, оценочные высказывания.<br />
<% else -%>
1. Новость не должна быть откровенной рекламой. <br />
2. Новость не должна содержать активных ссылок. <br />
3. Новость должна быть актуальной. <br />
4. Новость должна быть интересной для целевой аудитории портала: корпоративных заказчиков сувенирной продукции. <br />
5. Новость не должна содержать ненормативную лексику и оскорбительные, оценочные высказывания. <br />
<% end -%>
</p>
