<% title "Мои новости" -%>
<hr />
<%= render :partial => "menu" %>

<p class="muted">
В архив переносятся новости через 3 месяца после публикации на сайте.
</p>

<%= render :partial => 'published_news' %>
<%= render :partial => "commands" %>
