<% title "Мои новости" -%>
<%= render :partial => "menu" %>

<%= render :partial => 'drafts_news' %>
<%= render :partial => "commands" %>

<div style="height:50px;"></div>

<p class="text light">
Вы можете создать новость и сохранить ее в папке "Черновики" для дальнейшего редактирования или сразу отправить новость на модерацию.
В случае если модерация не будет пройдена, статус новости изменится на "Отклонена". 
Новость может быть отклонена по причине несоответствия требованиям, предъявляемым к новостям.
</p>

<%= render :partial => "warn" %>

