<% title "Мои новости" -%>

<%= render :partial => 'menu' %>

<p class="text">
Создайте и опубликуйте новости Вашей компании, расскажите Вашим потенциальным клиентам о себе и о том, что интересного происходит в Вашем агентстве. Это может быть любая информация, интересная корпоративным заказчикам: о развитии, о новых возможностях, назначениях, днях рождениях, об участии в выставках, конференциях, новых проектах и др. Ваша новость будет опубликована на портале GiftB2B.ru и доступна всей аудитории портала.
</p>

<p class="text">
Публикация новостей - бесплатная услуга.
</p>
<%= render :partial => 'commands' %>
