<% title "Мои новости" -%>

<%= render :partial => 'menu' %>

<p class="text">
Новость - это информация интересная заказчикам: о развитии, о новых возможностях, назначениях, днях рождениях, об участии в выставках, конференциях, новых проектах и др.
В тексте новости может быть информация о компании, но не может быть никаких активных ссылок.
Новость не должна быть рекламой. Для рекламы предусмотрена система баннеров, раздел "Спец.акции” и другие рекламные возможности.
</p>

<p class="text">
В случае нарушения вышеперечисленных требований новость опубликована не будет и будет возвращена в папку Черновики для дальнейшего редактирования.
</p>
<%= render :partial => 'commands' %>
