<% title "Мои новости" -%>

<%= render :partial => 'menu' %>

<p class="text">
<% if current_user.is_lk_supplier? -%>
Создавайте и публикуйте новости. Расскажите Вашим потенциальным клиентам о себе и о том, что интересного происходит в Вашей компании.
Это может быть любая информация, интересная рекламным агентствам: о новинках, о развитии, о новых возможностях, назначениях, днях рождениях, об участии в выставках, конференциях, новых проектах и др.
Ваша новость будет опубликована на портале giftpoisk.ru и доступна всей аудитории портала.
<% else -%>
Создавайте и публикуйте новости Вашей компании, расскажите Вашим потенциальным клиентам о себе и о том, что интересного происходит в Вашем агентстве. Это может быть любая информация, интересная корпоративным заказчикам: о развитии, о новых возможностях, назначениях, днях рождениях, об участии в выставках, конференциях, новых проектах и др. Ваша новость будет опубликована на портале GiftB2B.ru и доступна всей аудитории портала.
<% end -%>
</p>

<p class="text">
Публикация новостей - бесплатная услуга.
</p>
<%= render :partial => 'commands' %>
