<% title "Мои новости" -%>
<hr />
<%= render :partial => "menu" %>
<p class="muted">
В папке "На модерации" находятся Ваши новости, которые в данный момент проверяются. Вы можете снять новость с модерации, тогда новость сохранится в папку "Черновики", где Вы сможете ее отредактировать.
После прохождения модерации, новость будет сохранена в папке "Опубликованные".
</p>
<%= render :partial => 'moderate_news' %>
<%= render :partial => "commands" %>


