<% title "Мои новости" -%>
<%= render :partial => "menu" %>
<p class="text">
В папке "Опубликованные" находятся Ваши новости, прошедшие модерацию и опубликованные на портале GiftB2B.ru
</p>

<%= render :partial => 'published_news' %>
<%= render :partial => "commands" %>
