<% title "Мои новости" -%>
<hr />
<%= render :partial => "menu" %>
<p class="text">
<% if current_user.is_lk_supplier? -%>
В папке "Опубликованные" находятся Ваши новости, прошедшие модерацию и опубликованные на портале <a href="http://giftpoisk.ru">giftpoisk.ru</a>
<% else -%>
В папке "Опубликованные" находятся Ваши новости, прошедшие модерацию и опубликованные на портале <a href="http://giftb2b.ru">giftb2b.ru</a>
<% end -%>
</p>

<%= render :partial => 'published_news' %>
<%= render :partial => "commands" %>
