 <h3>Оформление нового заказа:</h3>
        <% form_for [LkOrder.new],  :html => {:class => :one_line_form } do |f| -%>
           <div class ="b-formfield-div">
            <%= f.label :lk_firm_id %>
            <%= f.select :lk_firm_id, options_from_collection_for_select(@lk_firms, 'id', 'name') %>
          </div>
          <div class ="b-formfield-div">
            <%= f.submit "Оформить" %>
          </div>          
        <% end -%>          
