.bundle
db/*.sqlite3
log/*.log
log/
*.log
tmp/**/*
tmp/*
my_engine/*
config/database.yml
config/initializers/session_store.rb
config/initializers/mailer.rb
config/unicorn.rb
Gemfile.lock
public/system
