<h1>Изменение профиля пользователя</h1>

<%= form_for [:admin,@account], :as => :admin_account,  :url=>admin_account_path(@account), :method => :put,   :html => {:class => 'one_line_form'} do |form| %>

<%= render :partial => 'account', :locals => {:form => form}%>

<%end%>

<div class="clear"></div>
<p>
Дата создания записи:
<%= I18n.l(@account.created_at, :format =>:long) %>
</p>
<p>
Последний вход:
<%= I18n.l(@account.current_login_at, :format => :long)  if @account.current_login_at %>
</p>
