<%= render :partial => 'admin/shared/sub_menu_users' %>
<% title 'Список администраторов'  %>

<div class="b-command-menu">
  <%= link_to "Новый пользователь", new_admin_account_path %>
</div>
<div class="clr"></div>
<% if @users.present? %>
<%= render :partial => "users_list", :object => @users %>
<%  else %>
Пользователей в системе нет!
<% end %>

