<h2>
Спасибо за заказ на сайте http://giftb2b.ru
</h2>
<p>
Информация по заказу отправлена в компанию <%= @order.firm.short_name %>. В ближайшее время с Вами свяжется ее менеджер для уточнения деталей заказа.
</p>

<p>
Номер Вашего заказа: <strong><%= @order.id %></strong>
</p>

<p>
Отслеживать состояние обработки Вашего заказа вы можете в <%= link_to 'личном кабинете', lk_user_orders_url  %>
</p>

