<% title "Создание нового баннера" -%>
<%= render :partial => 'admin/shared/sub_menu_content' %>
<%= render :partial => "banner" %>
<div class="spacer clear"></div>

<%= link_to 'Назад к списку баннеров', admin_banners_path  %>
