        <div class="search corner-all"> 
	      	  <div class="search-form"><%= form_tag search_path, :method=> :get do  -%>
				<div class="search-w">
					<div class="search-c">
						<p>Поиск сувениров:</p>
						<%= text_field_tag :request, params[:request] %>
						<p class="search-count">
						  в базе: 60 138 товаров, 31 поставщик
						</p>
						<p class="search-a"><a href="/search">расширенный поиск</a></p>
						<div class="clear"></div>
					</div>
				</div>
	        	<div class="search-n">  
					<button class="s_button" type="submit"></button>
				</div><div class="clear"></div>
               <% end -%>
          </div> 
        </div> <!-- end search --> 
