  <div class="city-filter">
    <%= link_to 'Москва', city_firm_path("москва", :from_cart => controller_name =="cart"), :remote => true, :class => "pseudo-link"%>
    <%= link_to 'С-Петербург', city_firm_path("санкт-петербург", :from_cart => controller_name =="cart"), :remote => true, :class => "pseudo-link"%>
    <%= link_to 'Тверь', city_firm_path("тверь", :from_cart => controller_name =="cart"), :remote => true, :class => "pseudo-link"%>
	<%= link_to 'Нижний Новгород', city_firm_path("нижний новгород", :from_cart => controller_name =="cart"), :remote => true, :class => "pseudo-link"%>
    <%#= link_to 'Другой город', "#", :remote => true, :class => "pseudo-link"%>
  </div>
