<%= render :partial => 'admin/shared/sub_menu_content' %>
<% title "Модерируем новость" -%>
<div class="grid_16">
<%= render :partial => "form" %>
<div class="spacer clear"></div>
</div>
<div class="grid_16">
<%= link_to 'Назад к новостям', admin_news_index_path %> | <%= link_to "Предпросмотр", news_path(@news) %>
</div>


