/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
h3.h3-lk {
	border-bottom:1px solid #999;
	padding-bottom:10px;
}

.lk-menu-title{
  font-size:13pt;
  font-weight:900;
}

.center_block { 
  margin-top:20px;
}  

.b-command-menu
{
    padding:10px 0;
    font-size: 1.2em;
}

.b-float-left { float:left }

.b-float-right { float:right; }

a.a-text-blue, a.navi {
	color:#177E99;
	text-decoration:none;
}

td.checkbox {
  width:14px;
}  

td.right {text-align:right;}

.b-submit {
 margin-top: 1em;
 text-align:right;
/*  float:right;*/
}

.i-help-popup img{
  background: url("images/help.png") no-repeat top left;
  width:16px;
  height:16px;
  padding-left:5px;
 }

.ui-widget-content { text-align:left;}
 
 .b-info-popup, .b-control-panel, .ui-dialog, .ui-dialog-buttonpane, .ui-dialog-content, #filter { 
  border:solid 1px #AFAF00;
/*  background-color:#FFFFDC;*/
/*  background: #ffffdc url(images/ui-bg_flat_75_ffffdc_40x100.png) 50% 50% repeat-x  */
  background: #ffffdc;
 }
 
 .b-info-popup, .b-control-panel {
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
	behavior: url("/javascripts/PIE.htc");
} 
 
.b-info-popup {
 font-size:.97em;
 line-height:1.2em;
 position:absolute;
 z-index:999;
 display:none;
 width:250px; 
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 -khtml-border-radius: 10px;
 
}  

.b-info-popup p { color:#4D4D4D; padding:10px;}

.b-control-panel {
  padding:5px;
 	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
 
}
