<% page_title "Коммерческие предложения" -%>
<h2>Список всех коммерческих предложений</h2>

<% if @commercial_offers && @commercial_offers.present? -%>
<%= render :partial => "comercial_offers" %>
<div class="spacer"></div>
<%= will_paginate(@comercial_offers) %>
<% else -%>
<p>Коммерческие предложения отсутствуют</p>
<% end -%>
