<% page_title "Спасибо за заказ!" -%>

<h1>Спасибо за заказ!</h1>

<p>Ваш заказ под номером <strong><%= @lk_order.id %></strong> отправлен на обработку в компанию <strong><%= @lk_order.firm.short_name %></strong>.</p>
<div class="spacer"></div>
<p>В ближайшее время с Вами свяжется менеджер компании для уточнения деталей заказа</p>

<div class="spacer"></div>
  <p>Отслеживать состояние обработки Вашего заказа Вы можете в <%= link_to "Личном кабинете", orders_path %></p>

