<%= render :partial => 'admin/shared/sub_menu_content' %>
<% title "Редактирование страницы" -%>
<div class="grid_16">
<%= render :partial => "content" %>
<div class="spacer clear"></div>
</div>
<div class="grid_16">
<%= link_to 'Назад к списку страниц', admin_contents_path %>
</div>

