.b-command-menu
{
    padding:10px 0;
    font-size: 1.2em;
}

.b-float-left
{
   float:left;
   padding: 0 10px;
}

.b-float-right
{
   float:right;
   padding: 0 10px;
}


#filter {
line-height:2em; 
}

#filter select {max-width:160px}

tr.disabled-row {
 color:#999;
}
