.center_block { 
  margin-top:20px
}  

.b-command-menu
{
    padding:10px 0;
    font-size: 1.2em;
}

.b-float-left
{
   float:left;
   padding: 0 10px;
}

.b-float-right
{
   float:right;
   padding: 0 10px;
}

.margin-left4 {margin-left:40px;}

/*.margin-left4 h2 {margin-bottom:20px;}*/

a.a-text-blue, a.navi {
	color:#177E99;
	text-decoration:none;
}

#filter {
line-height:2em; 
}

#filter select {max-width:160px}

tr.disabled-row {
 color:#999;
}

#order .b-main-information {
 width:60%;
 border: 1px solid black;
}

#order .b-user-comment textarea {
  min-width:200px;
  width: 80%;
}  

.b-bg {
  background:#ccc;
  padding:15px;
  color:#193839;
}

td.checkbox {
  width:14px;
}  

td.right {text-align:right;}

#lk_product_description {
  width:100%;
}

.b-submit {
 margin-top: 1em;
 text-align:right;
/*  float:right;*/
}

.b-co-description {
  float:left;
  width:50%;
}

.b-co-description textarea { width:95%;}

.b-co-delta {
  float:left;
  width:50%
}

.b-co-delta-inner {padding: 5px 0 5px 25px;}

.i-help-popup img{
  background: url("images/help.png") no-repeat top left;
  width:16px;
  height:16px;
  padding-left:5px;
 }

.ui-widget-content { text-align:left;}
 
 .b-info-popup, .ui-dialog, .ui-dialog-buttonpane, .ui-dialog-content { 
  border:solid 1px #AFAF00;
/*  background-color:#FFFFDC;*/
  background: #ffffdc url(images/ui-bg_flat_75_ffffdc_40x100.png) 50% 50% repeat-x  
 }
 
.b-info-popup {
 font-size:.97em;
 line-height:1.2em;
 position:absolute;
 z-index:999;
 display:none;
 width:250px;
 	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	behavior: url("/javascripts/PIE.htc");
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}  

.b-info-popup p { color:#4D4D4D; padding:10px;}

.b-product-thumbnail img {
max-width:120px;
max-height:120px;
}


#filter span {
margin:0 10px;
}
