.center_block { 
  margin-top:20px
}  

.b-command-menu
{
    padding:10px 0;
    font-size: 1.2em;
}

.b-float-left
{
   float:left;
   padding: 0 10px;
}

.b-float-right
{
   float:right;
   padding: 0 10px;
}

.margin-left4 {margin-left:40px;}


#filter {
line-height:2em; 
}

#filter select {max-width:160px}

tr.disabled-row {
 color:#999;
}

#order .b-main-information {
 width:60%;
 border: 1px solid black;
}

#order .b-user-comment textarea {
  min-width:200px;
  width: 80%;
}  

.b-bg {
  background:#ccc;
  padding:15px;
  color:#193839;
}

td.checkbox {
  width:14px;
}  

td.right {text-align:right;}
