@import url("reset.css");


 * {
	margin:0px;
	font-family: Helvetica, Arial;
}

html {
	width:100%;
	height:100%;
}

img { border:0px; }

body {	
    font-size: .75em;
	text-align:center;
	width:100%;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	position: relative;
}

h1, h2, h3 {
    color:#999999;
    margin-top:5px;
    margin-bottom:5px;
}

h1 {font-size:1.3em;}
h2 {font-size:1.2em;}
h3 {font-size:1.1em;}


table
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table.noborder, table.noborder td {border:0px}

table td
{
  padding: 5px;
  border: solid 1px #e8eef4;
}


table th
{
  font-size:1em;
  font-weight:bold;
  padding: 6px 5px;
  text-align: left;
  color:#EAF7E6;
  background-color: #C36;
  border: solid 1px #e8eef4;
}

table tr.alert td
{
  background-color:red;
}


td, th {vertical-align:middle;}

.center_block table {width:100%;}
.no-wrap {white-space: nowrap;}



div.spacer {height:10px;}

.clear{	clear:both;}

input[type="text"],  input[type="email"], input[type="url"], input[type="password"],  select,  textarea { 
  border: 1px solid #999;
  width: 200px;
}

/*.pagination_per_page select{ */
/*  border: 1px solid #999;*/
/*  width: 60px;*/
/*}*/

#header_title {
	display:block;
	background:#999999;
	width:100%;
	height:20px;
}

#all_content{
	float:left;
	width:100%;
	padding-bottom:97px;
}

#right_content {
	float:left;
	width:260px;
	margin-left:-260px;
	padding-bottom:97px;
}

#left_content  {
	float:left;
	width:260px;
	margin-left:-100%;
	padding-bottom:97px;
	
}

.content{
	margin-left:260px;
	margin-right:260px;
	text-align:left;
	padding:0 6px;
}
.content_2{
	margin-left:260px;

}

.content p, .commercial_offer label {
    color:#999999;
    text-align:left;
    font-size:10pt;
}

.content a {
    color:#999999;
}

.line {
	width:240px;
	height:5px;
	background:#999999;
	margin:10px;
}

.line_right {
	width:180px;
	height:5px;
	background:#999999;
	margin:10px;
}

.left_block {
	text-align:left;
	font-size:10pt;
	background:none;
}

.center_block {
	width:100%;
	text-align:left;
	margin-bottom:20px;
}

.center_block h1, .center_block h2 {
	color:#c36;
}


.article {
	width:200px;
	font-size:8pt;
	margin-right:25px;
	float:left;
	margin-bottom:35px;
	height:300px;
}

div.article_img_1 {display: table; height: 120px; width:120px; #position: relative; overflow: hidden; border: solid 1px #e5e5e5;background:white;}
div.article_img_2 {#position: absolute; #top: 50%; #left:50%; display: table-cell; vertical-align: middle; text-align:center;}
div.article_img_3 {#position: relative; #top: -50%; #left:-50%}

.article_name, #add_to_cart a {
	margin:0px;
	color:#cc3366;
	font-weight:bold;
	margin-top:5px;
	width:120px;
}

.article_sup {
	color:#cc3366;
}

.article_t {
	color:#999999;
	font-weight:bold;
	margin-top:5px;
}	

.article_t  a {
	text-decoration:underline;
	font-weight:bold;
	color:#999999;
	margin-top:5px;
}	

.article_s {
	font-weight:normal;
}	

.article_a {
	font-weight:bold;
	color:#999999;
	text-decoration:underline;
	margin-top:5px;
}

a:hover.article_a {
	color:#999999;
	text-decoration:none;
}

a.menu_left {
	color:#177E99;
	text-decoration:none;
	line-height:1.3;
}

a:hover.menu_left {
	color:#cc3366;
	text-decoration:underline;
}

.pagenav {
	font-size:9pt;
	margin-bottom:15px;
}
/*.catalog_pages {*/
/*	float:left;*/
/*	margin-right:20px;*/
/*	padding-top:2px;*/
/*}*/
.banner_left {
  background: #999999 url("images/banner.png") no-repeat top left;
	width:234px;
	margin-left:15px;
	height:154px;
/*	border:1px solid black;*/
}

.banner_center {
	width:100%;
	margin-top:15px;
	margin-bottom:15px;	
	height:100px;
	background:#999999;
	border:1px solid black;
}

.banner_right {
	width:230px;
	margin-left:10px;
	margin-top:15px;
	margin-bottom:15px;	
	height:150px;
	background:#999999;
	border:1px solid black;
}


.search {
	width:100%;
	margin-top:13px;
	margin-bottom:15px;
  min-height:80px;
	background:#cc3366;  
	
}

.ext-search {
  font-size:1.2em;	
}


.corner-all {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	behavior: url(public/javascripts/PIE.htc);
}
 
.search-form {
	display:block;
	position:relative;
	padding:20px;
	padding-bottom:5px;
	line-height:1.6em;
  color: #fff;
}

.search-w {float:left;width:100%;margin-left:-80px;}
.search-c {margin-left:80px;line-height:1.5;}
.search-n {float:right;width:60px;}

p.search-a {text-align:right;}
p.search-a a {color:#82D269;font-weight:bold;font-size:0.9em}

.search-form h1, .search-form a, .search-form p {  color: #fff;}

.search-form a {

  border-bottom:dotted 1px;
  cursor:pointer;
  text-decoration:none;
}  

.search-form input#article { width:10%; }

.search-form input#name { width:55%; }

.search-form input#request {
width:100%
}

.b-search-property {
  width:220px;
  float:left;
  text-align:left;
}  

.has-selected-items {
  font-size: 1.1em;
  font-weight:bold;
}  

.s_button {
	background: url("../images/button_search_V3.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 60px;
    width: 60px;
	border:none;
}

.b-filter-slider {
 float:left;
  padding: 0 5px 0;
  width: 45%
}  


.search-form .ui-widget { font-size:0.9em; }

.b-float-left { float:left }

.b-float-right { float:right; }

.search-form input {   border: solid 1px #BB0F48; }

input.inp-numeric { width:90px;}

input.inp-quantity {width:30px;}

.text_center {
	width:100%;
	height:70px;
	margin-top:15px;
	margin-bottom:15px;	
}


#footer {
	margin-top:-90px;
	width:100%;
	height:90px;
	text-align:center;
	background:#ffecec;
	position:absolute;left:0;bottom:0px;width:100%;
}

.left_block p   {
  margin-top:0px;
  margin-left:15px;    
}

.left_block p.b-header   {
  padding-bottom:15px;
  margin-left:15px;
  padding-top:5px;
  }

  
.left_block p.b-header span{
  color:#cc3366;
  font-size:13pt
}
/* Для файла с выводом одной картинки */

.float_block {
	width:100%;
}

div.big_pict { float:left; display: table; height: 300px; width:300px; #position: relative; overflow: hidden; border: solid 1px #e5e5e5;background:white;}
div.pict_2 {#position: absolute; #top: 50%; #left:50%; display: table-cell; vertical-align: middle; text-align:center;}
div.pict_3 {#position: relative; #top: -50%; #left:-50%}

.big_pict {
	margin-right:5px;
}

.text_block {
	min-height:302px;
	margin-left:305px;
}

.text_bg {
	background:#ffeeee;
	min-height:305px;
	margin-left:10px;
	font-size:8pt;
}

.article_name_2 {
	color:#cc3366;
	font-weight:bold;
	margin-top:5px;
}

.margin_text {
	margin:10px;
	padding-top:10px;
}

.pict_float {
	margin-top:10px;
	margin-bottom:10px;
	width:310px;
	float:left;
}

.pict_float_2{
	margin-top:10px;
	margin-bottom:10px;
}

div.article_img_1_float {float:left; display: table; height: 120px; width:120px; #position: relative; overflow: hidden; border: solid 1px #e5e5e5;background:white; margin-right:10px;}
div.article_img_2_float {float:left; display: table; height: 120px; width:120px; #position: relative; overflow: hidden; border: solid 1px #e5e5e5;background:white; margin-right:10px;margin-bottom:10px;}

.button_block {
	margin-top:10px;
	margin-bottom:10px;
}

.pict_block {
	font-size:8pt;
}

/*===============================================================*/
div.article_img_1_z {display: table; height: 120px; width:120px; #position: relative; overflow: hidden; border:0;background:white;}

.article_z {
    font-size:8pt;
    margin-right:10px;
    margin-bottom:20px;
    text-align:left;
}
a.text_b_z {
    color: #c36;
    font-size:14pt;
    font-weight:bold;
	text-decoration:none;
	padding-top:20px;
}

a:hover.text_b_z {
    
	text-decoration:underline;
}

span.article_img_4 {
	width:120px;
	text-align:left;
	margin-bottom:20px;
	display:block;
}

span.text_n_z, a.text_n_z, a.all-list {
    color:#999;
    font-size:11pt;
    font-weight:normal;
	line-height:1.2;
	text-decoration:none;
}

a:hover.text_n_z {
    color:#999;
    text-decoration:underline;
}

.text_c_ul {
	padding-top:5px;
    padding-left:0px;
	list-style: disc;
	
}

.text_c_ul li{
    color:#999;
    margin-bottom:2px;
    width:160px;
}

.ul_v {
	list-style-type:none;
	width:100%;
	margin:0;
}

.li_v {
	width:160px;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:top;
	margin-right:15px;
    margin-bottom:20px;
}

.ul_c {
	list-style-type:none;
	width:100%;
	margin:0;
	padding:0;
}

.li_c {
	width:200px;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:top;
    margin-bottom:20px;
	margin-right:20px;
}

.ul_r {
	width:100%;
	margin:0;
	margin-top:10px;
	padding:0;
}

.li_r {
	font-size:8pt;
	width:250px;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:top;
    margin-bottom:20px;
	margin-right:20px;
	padding-left:15px;
}

.li_r p {
	display: list-item;

}

.li_c  p.article_name, .li_c  p.article_t, .li_c  p.article_s, .li_c a.article_a{
	font-size:1em;
}

.treeview li span.selected a {color:#cc3366;}

.treeview li a {
	color:#333;
	font-weight:normal;
	font-size:11pt;
	line-height:1.5;
}

.treeview li ul li a {
	font-size:10.5pt;
	line-height:1.2;
	
}

.treeview li ul li ul li a {
	font-size:10pt;
	line-height:1.2;
	color:#999;
}

.treeview li a:hover, .treeview ul a:hover {
	color:#cc3366;
}

.treeview ul a {
	color:#666;
	font-weight:normal;
}

.g-hidden {display:none;}
.gray-block {
  background:#cccccc;
  padding: 10px 5px;
}

.li_no { list-style-type:none;}
span.message {color:#C36;}


#flash_alert, #flash_notice
{
    margin: 10px 0;
    letter-spacing: 0.12em;  
    padding: 10px;
}

#flash_alert
{
    color: #C36;
    background: #FFECEC;
}
#flash_notice
{
    color: black;
    background-color: #B9F6A9;
    opacity: .8;
}

.errorExplanation
{
    color: black;
    background-color: #fedada;
    padding: 5px;
    margin-bottom: 10px;
}

.field_with_errors
{
    background-color:  #fedada;
    padding: 4px 1px 4px 1px;
}

.login-form p label {
	color:#fff;
}

.one_line_form label {
	color:#999;
}

.one_line_form {float: left;}

.one_line_form  select {background-color: white;}

.one_line_form label:first-child, .b-formfield-div span
{
    float: left;
    padding-right: 10px;
}
.b-formfield-div
{
    clear:both;
    text-align:right;
    line-height: 25px;
    margin-bottom: 10px;
}
.b-formfield-div span
{
  margin-left: -10px;
  font-size: 0.8em;
  color: #9f9a9a !important;
}

/* Style basket */

.basket_right {
    height:100px;
    width:240px;
}

.basket_right img {
    position:relative;
    top:5px;
    left:60px;
}
.basket_50 a {
    color:#999999;
}

.basket_50 {
    width:49%;
    font-size:8pt;
    margin-top:5px;
    float:left;

}

/*------------------------------*/
 
.article_date {
    color:#999999;
    margin-top:3px;
}

.article_date span.article_s {
    font-style: italic;
}


.scrollable-control a:link {
    font-size:16pt;
    border-bottom:dotted 1px;
    cursor:pointer;
    text-decoration:none;
      
}
.scrollable-control a:hover {color:#4477EE;}
.scrollable-control a.selected {color:#936;}

#novice_animation {
    width:100%;
    text-align:center;
    min-height:16px;
}

#novice_animation img {display:none;}

.article_t_p {
	font-size:10pt;
	color:#999999;
}

.article_t_p a:hover, p.r_text {color:#CC3366;}

.r_text {
	margin-top:15px;
}

.article_t > option, .article_t > select, .r_text a {
	color:#999999;
}
.fl, .fl > option, .fl > select{
	font-size:10pt;
	color:#999999;
}


.article_t_p em {
	color:#CC3366;
	font-style:normal;
	font-weight:900;
}

.login-form {
  margin-left:10px;
}
.login-form h2 {
	font-size:10pt;
	color:#fff;
	font-weight:normal;
}
.login-form p {
	font-size:9pt;
	color:#fff;
	clear:both;
	text-align:right;
	line-height: 20px;
	margin-bottom: 5px;
	font-weight:bold;
}

.login-form input[type="text"], .login-form input[type="password"] {
  width:120px;
}

/* Личный кабинет */
.lk {
	margin-top:20px;
	margin-left:0px;
	width:250px;
	height:100px;
	background:#999;
	text-align:left;
}
.lk a {
	color:#fff;
}
.lk a:hover {
	color:#CC3366;
}

.lk-reg {
	padding-left:111px;
	font-weight:normal;
	font-size:9pt;
	padding-top:1px;
	color:#999999
}

.lk-reg a {
	border-bottom:1px dotted #fff;
	text-decoration:none;

}

.lk-t {
	color:#999999;
	font-size:10pt;
	padding-left:10px;
	padding-top:4px;
}

.lk-login {
	background: url("../images/lock.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
/*	margin-left:145px;*/
	width:24px;
	height:24px;
	position:absolute;
	padding-bottom:3px;
}

a:hover.lk-login {
	background: url("../images/lock_hover.png") no-repeat scroll 0 0 transparent;
}

.lk-logout  {
	background: url("../images/unlock.png") no-repeat scroll 0 0 transparent;
	width:24px;
	height:24px;
	cursor:pointer;
	display:block;
}

a:hover.lk-logout {
	background: url("../images/unlock_hover.png") no-repeat scroll 0 0 transparent;
		width:24px;
	height:24px;
	cursor:pointer;
	display:block;
}

#order {
	font-size:9pt;
}

a.pseudo-link
{
  border-bottom:dotted 1px;
  cursor:pointer;
  text-decoration:none;
/*  color:#034AF3;*/
}

.city-filter { margin-bottom:10px;}

.product-price img {
    display:inline-block;
    vertical-align:middle;
    width:32px;
    height:32px;
    background-image: url("images/cart_add.png");
}	
    
div.v-spacer, div.v-spacer2 {
 float:left;
 width:10px;
 height:1em;
}

div.v-spacer2 {
 width:20px;
}

#novelty_link {
	color:#82d269;
	margin-right:20px;
	font-weight:bold;
}

#sale_link {
	color:#ff5026;  
	font-weight:bold;
}
.b-get-more {
	width:100%;
	text-align:center;
	padding-top:20px;
}
.b-get-more a {
	color:#177e99;
}

.b-sale-information {
	background:#F6F5FF;
	padding: 10px;
	margin-left:10px;
}

.b-sale-information  p{
	margin:0px;
	line-height:1.3;
}

.b-sale-information  a{
	color:#999;
}


#left_content .b-background {
	background:#F6F5FF;
	margin-top:0;
	margin-right:10px;
}

.line-margin {
	margin:0;
	margin-top:10px;
	width:250px;
}



ul li.category-outline {padding-bottom:20px;}

.scrollableArea div {
  margin: 0 10px; 
  }
  
.b-popup{
 position:absolute;
 z-index:999;
 padding:10px;
 border:solid 1px #c36;
 width:200px;
 height:130px;
 background-color: #fee;
 display:none;
}

div.b-popup-info {
	text-align:left;
	line-height:1.2em;
}

div.b-popup-info h1 {
padding-bottom: 0.8em;}

h3.h3-lk {
	border-bottom:1px solid #999;
	padding-bottom:10px;
}

.f-block {
	padding-top:10px;
	line-height:1.5;
	color:#666;
}

.paginate2 {
  float:right;
}
.products-per-page {
  float:left;
}

.per-page { 
  font-weight:900;
  color: #c36;
}

.per-page a { font-weight:normal;}

.ajax_animation {
  display:none;
  margin: 0 20px; 
  float:left;
} 

.page_content p {
padding: 5px; 0}
