#gift_logo {
  background: url("images/logo_giftb2b.gif") no-repeat top left;
}

table
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table.noborder, table.noborder td {border:0px}

table th
{  
  color:#EAF7E6;
  background-color: #C36;
}

table tr.alert td
{
  background-color:red;
}

.center_block h1, .center_block h2 {
	color:#c36;
}


.article {
	width:200px;
	font-size:8pt;
	margin-right:25px;
	float:left;
	margin-bottom:35px;
	height:300px;
}

div.article_img_1 {display: table; height: 120px; width:120px; #position: relative; overflow: hidden; border: solid 1px #e5e5e5;background:white;}
div.article_img_2 {#position: absolute; #top: 50%; #left:50%; display: table-cell; vertical-align: middle; text-align:center;}
div.article_img_3 {#position: relative; #top: -50%; #left:-50%}

.article_name, #add_to_cart a {
	margin:0px;
	color:#cc3366;
	font-weight:bold;
	margin-top:5px;
	width:120px;
}

.article_sup {
	color:#cc3366;
	font-weight:normal;
}

.article_t {
	color:#999999;
	font-weight:bold;
	margin-top:5px;
}	

.article_t  a {
	text-decoration:underline;
	font-weight:bold;
	color:#999999;
	margin-top:5px;
}	

.article_s {
	font-weight:normal;
}	

.article_a {
	font-weight:bold;
	color:#999999;
	text-decoration:underline;
	margin-top:5px;
}

a:hover.article_a {
	color:#999999;
	text-decoration:none;
}

.search {
	width:100%;
	margin-top:13px;
	margin-bottom:15px;
  min-height:80px;
	background:#cc3366;  
	
}

.ext-search {
  font-size:1.2em;	
}
 
.search-form {
	display:block;
	position:relative;
	padding:20px;
	padding-bottom:5px;
	line-height:1.6em;
  color: #fff;
}

.search-w {float:left;width:100%;margin-left:-80px;}
.search-c {margin-left:80px;line-height:1.5;}
.search-n {float:right;width:60px;}

p.search-count {float:left;font-size:0.9em;}
p.search-a {text-align:right; float:right;}
p.search-a a {color:#82D269;font-weight:bold;font-size:0.9em}

.search-form h1, .search-form a, .search-form p {  color: #fff;}

.search-form a {
  border-bottom:dotted 1px;
  cursor:pointer;
  text-decoration:none;
}  

.search-form input#article { width:10%; }

.search-form input#name { width:55%; }

.search-form input#request {
width:100%
}

.b-search-property {
  width:220px;
  float:left;
  text-align:left;
}  

.has-selected-items {
  font-size: 1.1em;
  font-weight:bold;
}  

.s_button {
	background: url("../images/search_60.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 60px;
    width: 60px;
	border:none;
  position:absolute;
}

.search-form input {   border: solid 1px #BB0F48; }

.text_center {
	width:100%;
	height:70px;
	margin-top:15px;
	margin-bottom:15px;	
}



/* Для файла с выводом одной картинки */

.float_block {
	width:100%;
}

div.big_pict { float:left; display: table; height: 300px; width:300px; #position: relative; overflow: hidden; border: solid 1px #e5e5e5;background:white;}
div.pict_2 {#position: absolute; #top: 50%; #left:50%; display: table-cell; vertical-align: middle; text-align:center;}
div.pict_3 {#position: relative; #top: -50%; #left:-50%}

.big_pict {
	margin-right:5px;
}

.text_block {
	min-height:302px;
	margin-left:305px;
}

.text_bg {
	background:#ffeeee;
	min-height:305px;
	margin-left:10px;
	font-size:8pt;
}

.article_name_2 {
	color:#cc3366;
	font-weight:bold;
	margin-top:5px;
}

.margin_text {
	margin:10px;
	padding-top:10px;
}

.pict_float {
	margin-top:10px;
	margin-bottom:10px;
	width:310px;
	float:left;
}

.pict_float_2{
	margin-top:10px;
	margin-bottom:10px;
}

div.article_img_1_float {float:left; display: table; height: 120px; width:120px; #position: relative; overflow: hidden; border: solid 1px #e5e5e5;background:white; margin-right:10px;}
div.article_img_2_float {float:left; display: table; height: 120px; width:120px; #position: relative; overflow: hidden; border: solid 1px #e5e5e5;background:white; margin-right:10px;margin-bottom:10px;}


.pict_block {
	font-size:8pt;
}

div.article_img_1_z {display: table; height: 120px; width:120px; #position: relative; overflow: hidden; border:0;background:white;}

.article_z {
    font-size:8pt;
    margin-right:10px;
    margin-bottom:20px;
    text-align:left;
}
a.text_b_z {
    color: #c36;
    font-size:14pt;
    font-weight:bold;
	text-decoration:none;
	padding-top:20px;
}

a:hover.text_b_z {
    
	text-decoration:underline;
}

span.article_img_4 {
	width:120px;
	text-align:left;
	margin-bottom:20px;
	display:block;
}

.left_block p.b-header span{
  color:#cc3366;
  font-size:13pt
}


span.text_n_z, a.text_n_z, a.all-list {
    color:#999;
    font-size:11pt;
    font-weight:normal;
	line-height:1.2;
	text-decoration:none;
}

a:hover.text_n_z {
    color:#999;
    text-decoration:underline;
}

.text_c_ul {
	padding-top:5px;
    padding-left:5px;
	list-style: disc;
	text-indent:-0.5em;
	
}

.text_c_ul li{
    color:#999;
    margin-bottom:2px;
    width:160px;
}

.ul_v {
	list-style-type:none;
	width:100%;
	margin:0;
	padding:10px;
}

.li_v {
	width:160px;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:top;
	margin-right:15px;
    margin-bottom:20px;
}

.ul_c {
	list-style-type:none;
	width:100%;
	margin:0;
	padding:0;
}

.li_c {
	width:200px;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:top;
    margin-bottom:20px;
	margin-right:20px;
}

.ul_r {
	width:100%;
	margin:0;
	margin-top:10px;
	padding:0;
}

.li_r {
	font-size:8pt;
	width:250px;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:top;
    margin-bottom:20px;
	margin-right:20px;
	padding-left:15px;
}

.li_r p {
	display: list-item;

}

.li_c  p.article_name, .li_c  p.article_t, .li_c  p.article_s, .li_c a.article_a{
	font-size:1em;
}

.treeview li span.selected a {color:#cc3366;}

.treeview li a {
	color:#333;
	font-weight:normal;
	font-size:11pt;
	line-height:1.5;
}

.treeview li ul li a {
	font-size:10.5pt;
	line-height:1.2;
	
}

.treeview li ul li ul li a {
	font-size:10pt;
	line-height:1.2;
	color:#999;
}

.treeview li a:hover, .treeview ul a:hover {
	color:#cc3366;
}

.treeview ul a {
	color:#666;
	font-weight:normal;
}


.li_no { list-style-type:none;}
span.message {color:#C36;}


/*------------------------------*/
 
.article_date {
    color:#999999;
    margin-top:3px;
}

.article_date span.article_s {
    font-style: italic;
}


.scrollable-control a:link {
    font-size:16pt;
    border-bottom:dotted 1px;
    cursor:pointer;
    text-decoration:none;
      
}
.scrollable-control a:hover {color:#4477EE;}
.scrollable-control a.selected {color:#936;}

#novice_animation {
    width:100%;
    text-align:center;
    min-height:16px;
}

.article_t_p {
	font-size:10pt;
	color:#999999;
}

.article_t_p a:hover, p.r_text {color:#CC3366;}

.r_text {
	margin-top:15px;
}

.article_t > option, .article_t > select, .r_text a {
	color:#999999;
}
.fl, .fl > option, .fl > select{
	font-size:10pt;
	color:#999999;
}


.article_t_p em {
	color:#CC3366;
	font-style:normal;
	font-weight:900;
}

.city-filter { margin-bottom:10px;}

.product-price img {
    display:inline-block;
    vertical-align:middle;
    width:32px;
    height:32px;
    background-image: url("images/cart_add.png");
}	
    

#novelty_link {
	color:#82d269;
	margin-right:20px;
	font-weight:bold;
}

#sale_link {
	color:#ff5026;  
	font-weight:bold;
}
.b-get-more {
	width:100%;
	text-align:center;
	padding-top:20px;
}
.b-get-more a {
	color:#177e99;
}

.b-sale-information {
	background:#F6F5FF;
	padding: 10px;
	margin-left:10px;
}

.b-sale-information  p{
	margin:0px;
	line-height:1.3;
}

.b-sale-information  a{
	color:#999;
}


#left_content .b-background {
	background:#F6F5FF;
	margin-top:0;
	margin-right:10px;
}

.line-margin {
	margin:0;
	margin-top:10px;
	width:250px;
}

ul li.category-outline {padding-bottom:20px;}
  
.b-popup{
 position:absolute;
 z-index:999;
 padding:10px;
 border:solid 1px #c36;
 width:200px;
 height:130px;
 background-color: #fee;
 display:none;
}

div.b-popup-info {
	text-align:left;
	line-height:1.2em;
}

div.b-popup-info h1 {
padding-bottom: 0.8em;}

.per-page { 
  color: #c36;
}

.page_content p {
padding: 5px; 0}

.b-ext-search { 
  background-color: #ffeeee;
  padding:10px; 
}

.b-ext-search .bold-label, .b-ext-search h3  {
  color:#332E2B;
  font-weight:bold;
  font-size:1.1em; 
  line-height:1.2;
}  


.b-ext-search-inner {
  padding:5px;
  clear: both;
}

.b-ext-search-inner {
  background-color:#FFD8D9
}

.b-ext-search-inner:nth-child(even), .b-ext-search .even {
  background-color:#fff;
}

.b-ext-search-inner input[type="checkbox"] {
 margin-right:3px;
 margin-top:5px;
 vertical-align: text-bottom;
}

.b-ext-search-inner select {
  background: #fff;
} 
  
.b-ext-search-left  {
  margin-left:-100%; 
  width:100px;
  float:left;
}

.b-ext-search-center {
  float:left;
  width:100%;
}

.b-search-center-inner {
  margin:0 90px 0 100px;
}

.b-ext-search-right { 
  float:left;
  width:50px;
  margin-left:-70px;
}

.v-align { padding-top:.3em; }
.full-size input {width:100%}

.supplier-items li, .category-items > li {
  display:inline-block;
  font-size:1em;
}

.supplier-items li {  
  width:170px; 
  line-height:1.6;
} 

.material-items li {
  width:100px;
  line-height:1.6
}

.category-items > li { 
  width:33% ;
  line-height:1.9;
}

.category-items li {   color:#616F8F;}

.category-items ul { margin-left:10px;}


.material-items {
  float:left;}

.color-box {
  width:18px;
  height:18px;
  border:#7F7F7F 1px solid;
  float:left;
  margin: 0 5px 5px 3px;;
  cursor:pointer;
  border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	behavior: url("/javascripts/PIE.htc");
}


.b-ext-search-right .s_button{
	background: url("../images/search_40.png") no-repeat scroll 0 0 transparent;
}
.span-right-block {
	padding-right:20px;
}

label[for="eq"] { font-size: 0.9em; color:#999;padding-top:5px;margin-top:5px}

#color_12271, #color_12257, #color_12252, #color_12260, #color_12273
{border:none; width:20px; height:20px;}

#color_12271 {	background: url("images/multi.png") no-repeat scroll 0 0 transparent; }  
#color_12257 {	background: url("images/transparent.png") no-repeat scroll 0 0 transparent;}  
#color_12252 {	background: url("images/silver.png") no-repeat scroll 0 0 transparent;}  
#color_12260 {	background: url("images/gold.png") no-repeat scroll 0 0 transparent;}  
#color_12273 {	background: url("images/bronze.png") no-repeat scroll 0 0 transparent;}  

.b-supplier-info, .b-supplier-terms {
  line-height:1.4;
}

.b-supplier-terms  img{ padding-bottom:5px;}
h2.c_b {color:#666;}

input[type="submit"], input[type="button"], .r_button {
  color:#e8eef4;
  border: 1px solid #773841;
  background: #a91e4c;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cc6666), to(#a91e4c));
  background: -webkit-linear-gradient(#cc6666, #a91e4c);
  background: -moz-linear-gradient(#cc6666, #a91e4c);
  background: -ms-linear-gradient(#cc6666, #a91e4c);
  background: -o-linear-gradient(#cc6666, #a91e4c);
  background: linear-gradient(#cc6666, #a91e4c);
  -pie-background: linear-gradient(#cc6666, #a91e4c);
}

.ui-dialog .ui-dialog-content {
    padding:0;
}

.ui-widget-content {
  text-align:left;  
}  

#firm_contact p {
  float:left;
  font-size:20pt;
}
.td_z {font-weight:bold;font-size:8pt;width:80px;}

.ui-button-text {font-size:9pt;}

.ui-dialog .ui-dialog-buttonpane button, .ui-dialog .ui-dialog-buttonpane button:hover {
  text-align: center;
  behavior: url(xml/PIE.htc);
  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;
  color:#e8eef4;
}

.ui-dialog .ui-dialog-buttonpane button {
  border: 1px solid #773841;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #a91e4c;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cc6666), to(#a91e4c));
  background: -webkit-linear-gradient(#cc6666, #a91e4c);
  background: -moz-linear-gradient(#cc6666, #a91e4c);
  background: -ms-linear-gradient(#cc6666, #a91e4c);
  background: -o-linear-gradient(#cc6666, #a91e4c);
  background: linear-gradient(#cc6666, #a91e4c);
  -pie-background: linear-gradient(#cc6666, #a91e4c);
}

.ui-dialog .ui-dialog-buttonpane button:hover {
  border: 1px solid #45682a;
  background: #689f3d;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a2db5a), to(#689f3d));
  background: -webkit-linear-gradient(#a2db5a, #689f3d);
  background: -moz-linear-gradient(#a2db5a, #689f3d);
  background: -ms-linear-gradient(#a2db5a, #689f3d);
  background: -o-linear-gradient(#a2db5a, #689f3d);
  background: linear-gradient(#a2db5a, #689f3d);
  -pie-background: linear-gradient(#a2db5a, #689f3d);
}

#map {
  width:600px;
  height:400px;
}

.b-product-store-units { 
  padding:5px 0 5px 5px;
}
