<% title "Редактирование записи" -%>
<% page_title "Образец #{@sample.name}" -%>

<%= render :partial => 'sample' %>

<div class="clear"></div>

<%= link_to 'Назад к списку образцов', lk_samples_path  %>
