<% title "Новый образец" -%>
<% page_title "Новый образец" -%>

<%= render :partial => 'sample' %>

<div class="clear"></div>

<%= link_to '<< К списку образцов', lk_samples_path, :class => "navi"  %>
