<h2>
Изменения пароля для доступа на сайт <%= default_url_options[:host]  %>
</h2>
<p>
Ваши данные для входа:
<table style="border:1px solid #ccc; border-collapse:collapse;" cellpadding="5px">
  <tr>
    <td style="border:1px solid #ccc">Имя пользователя:</td>
    <td style="border:1px solid #ccc"><%= @user.username %></td>
  </tr>
  <tr>
    <td style="border:1px solid #ccc">Пароль:</td>
    <td style="border:1px solid #ccc"><%= @password %></td>    
  </tr>
</table>
</p>
<p>
Изменить эту информацию вы можете в настройках <%= link_to 'учетной записи', auth_engine.profile_path  %>
</p>
