<% page_title("Пароль изменен!") %>
<div class="content">
<div class="center_block page_content">
<h1>Ваш пароль изменен!</h1> 
<p>
  В течение нескольких минут новый пароль будет отправлен на указанный Вами e-mail.
</p>

<p>
  <strong>Успешной работы!</strong>
</p>
</div>

<%= link_to 'На главную страницу', root_path %>
</div>
