<% page_title("Спасибо за регистрацию!") %>
<div class="content">
<div class="center_block page_content">
<h2>Благодарим за регистрацию</h2> 
<p>
  В течение двух минут вы получите пароль на указанный Вами e-mail.
</p>
<% if @user.is_firm_user? -%>
  <p>
  Используйте его для дальнейшего доступа на портал бесплатно в течение 5 дней. <br />
  Данная услуга доступна только <strong>для рекламных агентств</strong>. С Вами свяжется Ваш персональный менеджер для подтверждения вашего статуса. <br />
  </p>
  <p>
    Продолжить работу с ресурсом в закрытой зоне Вы можете уже сейчас!
  </p>
<% else -%>  
  <p>
    Используйте его для дальнейшего доступа на портал. 
  </p>
  <p>
    Продолжить работу с ресурсом Вы можете уже сейчас!  
  </p>    
<% end -%>

<p>
  <strong>Успешной работы!</strong>
</p>
</div>

<%= link_to 'На главную страницу', root_path %>
</div>
