<% title ("Спасибо за регистрацию!") %>
<div class="content">
<div class="center_block"> 
На указанный адрес  отправлено письмо с кодом для активации учетной записи. 
</div>
<%= link_to 'На главную страницу', root_path %>
</div>
