<%= content_tag :div, :class => "content_category #{@content_category.permalink}" do %> 
<h1><%= @content_category.name %></h1>

<% @pages.each do |item| -%>
<div class="content_title">
  <%= link_to item.title, content_path(item)  %>
</div>  
<% end -%>

<% end -%>

<div>
<%= will_paginate(@pages) %>
</div>
