<h2>
Вы зарегистрировались на портале http://giftb2b.ru
</h2>
<p>
Ваши данные для входа:
<table style="border:1px solid #ccc; border-collapse:collapse;" cellpadding="5px">
  <tr>
    <td style="border:1px solid #ccc">Имя пользователя:</td>
    <td style="border:1px solid #ccc"><%= @user.username %></td>
  </tr>
  <tr>
    <td style="border:1px solid #ccc">Пароль:</td>
    <td style="border:1px solid #ccc"><%= @password %></td>    
  </tr>
</table>
</p>
<p>
Изменить эту информацию вы можете в <%= link_to 'личном кабинете', lk_user_orders_url  %>
</p>

<% if @user.is_firm_user? -%>
  <p style="font-weight:bold">
    Рекламные агентства имеют возможность пользоваться полным функционалом сайта в течение 5 дней с момента регистрации бесплатно.
  </p>
  <p>
    В ближайшее время с вами свяжется ваш персональный менеджер для подтверждения статуса рекламного агентства.
  </p>
<% else -%> 
  <p>
    Работа в закрытой зоне даст вам возможность оформлять заказ и выбирать рекламное агентство для размещения заказа. <br />
    Для быстрого поиска по базе используйте расширенный поиск.
  </p>   
  <p>
    Напоминаем вам, что промо-сувениры на нашем портале можно приобрести только оптом.
    Экономьте ваше время с поиском промо-подарков на http://giftb2b.ru
  </p>
<% end -%>



