<style type="text/css"> 
.where {margin:10px;padding:0; font-family: Verdana;}
.where p {margin:0;}
.where {width:240px;height:125px;border:1px solid #CCC;background: url("/stylesheets/images/banner_bg.jpg") 172px 8px no-repeat;}
.where_1 {width:240px;height:105px;color:#84c54b;font-size:1em;line-height:1;}
.where_2 {width:240px;height:20px;background:#f6f5ff;}
.w-p-1 {padding-top:15px;padding-left:10px;font-size:0.9em;font-weight:bold;}
.w-p-2 {padding-top:15px;padding-left:10px;color:#999;font-size:0.9em;}
.w-p-3 {padding-top:2px;padding-left:10px;font-size:2.3em;font-weight:bold;}
.w-p-4 {padding-top:3px;padding-left:10px;color:#999;font-size:0.8em;}
.w-p-4 a {color:#999;text-decoration:none;}
</style> 
<div class="where"> 
	<div class="where_1"> 
		<p class="w-p-1">ПРОДАЖА СУВЕНИРОВ</p> 
		<p class="w-p-2">+7 (495)</p> 
		<p class="w-p-3">984-64-46</p> 
	</div> 
	<div class="where_2"> 
		<p class="w-p-4"><a href="p/dlya-reklamnyh-agenstv">*реклама для рекламных агентств</a></p> 
	</div> 
</div> 
