	<%= will_paginate @products, :class=>"article_t_p catalog_pages" %>
	<div class="pagenav"> 
		<p class="article_t pagination_per_page"><span class="article_s">по </span>
  	<%= select_tag :per_page, options_for_select([20,50,100],params[:per_page].to_i||20),  :id=>nil, :href=> url_for(:controller => controller_name, :action => action_name, :id => @category.permalink)   %>
		<span class="article_s"> товаров на странице </span></p> 
	</div> 
