<div class="gift_banner_bg">
<a href="/p/agency-special">
<div class="gift_baner">
<p style="font-size:18pt;font-weight:bold;">СИСТЕМА РАБОТЫ С ПРОМО-ПОДАРКАМИ ДЛЯ РЕКЛАМНЫХ АГЕНТСТВ</p>
<p>Расширенный параметрический поиск по 10 параметрам</p>
<p>Быстрая подготовка коммерческих предложений по 60 000 промо-сувениров для Вашего клиента</p>
<p>Прямые контакты всех поставщиков</p>
</div>
</a>
</div>
