      <p class="b-header"><span><strong>Продажа сувениров</strong></span></p> 
      <p><a class="menu_left" href="#">- Поиск сувенира</a></p>	
      <p><a class="menu_left" href="#">- VIP сувениры</a></p>	
      <p><a class="menu_left" href="#">- Авторские сувениры</a></p>	
      <p><a class="menu_left" href="#">- Где купить сувениры</a></p>	
