        <div class="search"> 
          <div class="s_left1"></div><div class="s_center">
          <%= form_for :search, :url => {:controller=>"main", :action => "search"} do |f| -%>
            <%= f.text_field :request %> <%= f.submit "Искать" %>
          <% end -%>
          </div><div class="s_right1"></div> 
        </div> <!-- end search --> 
