      <p class="b-header"><span><strong>Советы профессионалов</strong></span></p> 
      <p><a class="menu_left" href="/p/kak-vybirat-suveniry">- Как выбрать сувениры</a></p>	
      <p><a class="menu_left" href="/p/neobychnye-suveniry">- Самые необычные сувениры</a></p>	
      <p><a class="menu_left" href="/p/poleznye-suveniry">- Самые полезные сувениры</a></p> 
      <p><a class="menu_left" href="/p/samye-deshevye-suveniry">- Самые дешевые сувениры</a></p>
