      <p class="b-header"><span><strong>Советы профессионалов</strong></span></p> 
      <p><a class="menu_left" href="#">- Как выбрать сувениры</a></p>	
      <p><a class="menu_left" href="#">- Самые необычные сувениры</a></p>	
      <p><a class="menu_left" href="#">- Самые полезные сувениры</a></p> 
      <p><a class="menu_left" href="#">- - Самые дешевые сувениры</a></p>
