<p class="b-header"><span><strong>Тематические сувениры</strong></span></p> 
<div style="margin-left:15px;">
  <%= tree_ul(Category.cached_active_categories.select{|cat| cat.kind==2}) {|item|  content_tag(:span, link_to(item.name, category_path(item), :remote => true, :class => "tree-animate menu_left", :title => item.name), :id =>  "tree_item_#{item.id}" )} %>
</div>
