<p class="b-header"><span><strong>Тематические сувениры</strong></span></p> 
<div style="margin-left:15px;">
 <%= tree_ul_from_hash(Category.cached_thematic_categories) do |item|  %>   
   <% content_tag(:span, 
                  link_to(item[:name], category_path(item[:permalink]),:class => "menu_left", :title => item[:name]), 
                 :id =>  "tree_item_#{item[:id]}",
                 :class=> treeview_selected(item[:permalink]) )%>
   <% end -%>  
</div>
