      <p class="b-header"><span><strong>Услуги клиентам</strong></span></p> 
      <p><%= link_to "- Доставка до офиса", content_path('dostavka'), :class=> "menu_left" %></p>
      <p><a class="menu_left" href="#">- Рекламные агентства</a></p>	
      <p><a class="menu_left" href="#">- Нанесение логотипа</a></p>	
