<% page_title ("Активация завершена") %>
<div class="center_block"> 
<h1>Активация учетной записи</h1>

<strong><%= @user.username %></strong>, Ваша учетная запись активирована. Выполните вход в личный кабинет для редактирования профиля.
</div>
