<% page_title("Спасибо за регистрацию!") %>
<div class="center_block page_content">
<h2>Благодарим за регистрацию</h2> 

<% if @user.is_firm_user? -%>
<p>
  Добро пожаловать в Базу Данных сувенирной продукции  <a href="http://giftpoisk.ru">giftpoisk.ru</a>!
</p>

<p>
Вы авторизованы как рекламное агентство и можете продолжить работу прямо сейчас.
В течении ближайшего времени с вами свяжется Ваш персональный менеджер для подтверждения статуса рекламного агентства.
</p>

<p>
<p>Данные для доступа и краткая информация по работе с Базой Данных отправлены на указанный Вами e-mail.</p>
</p>
<% else -%>  
<p>
  Добро пожаловать в Единый Каталог бизнес-сувениров <a href="http://giftb2b.ru">giftb2b.ru</a>
</p>

<p>Вы авторизованы и можете продолжить работу прямо сейчас.</p>

<p>Данные для доступа и краткая информация по работе с Единым Каталогом отправлены на указанный Вами e-mail.</p>

<% end -%>

<p>
  <strong>Успешной работы!</strong>
</p>
</div>

<%= link_to 'На главную страницу', main_app.root_path %>
