<% page_title "Редактирование информации о клиенте" -%>
<h1>Редактирование информации о клиенте</h1>

<%= render :partial => "firm" %>

<div class="spacer clear"></div>

<p><%= link_to '<< К списку клиентов', lk_firms_path %></p>
