  <% if full_cart? -%>
  <div><%= link_to image_tag('basket_f.png'), main_app.cart_index_path %></div>
	<div class="basket_50">
	  <%= link_to 'Очистить', main_app.empty_cart_index_path, :remote => true, :method => :post %>
	</div>
	<div class="basket_50">
	  <%= link_to 'Корзина: '+ cart_items, main_app.cart_index_path  %>
 </div>
  <% else -%>
  <div><%= image_tag('basket_e.png') %></div>
	<div class="basket_50"></div>
	<div class="basket_50">
	  <a href="#">Корзина (пусто)</a>
 </div>  
  <% end -%>	
	<div class="clear"></div>
