<h1>Новый пользователь</h1>
<%= form_for  @account, :url => lk_accounts_path, :html => {:class => :one_line_form} do |form| -%>
<%= render :partial => 'account', :locals => {:form => form} %>
 <% end -%>
