<h1>Редактирование товара</h1>

<%= render :partial => "lk/products/product", :locals => {:redirect => lk_commercial_offer_path(@commercial_offer)} %>
<div class="spacer"></div>
<%= link_to 'Назад к коммерческому предложению', lk_commercial_offer_path(@commercial_offer) %>
