<% page_title "Изменение профиля пользователя" -%>
<h1>Изменение профиля пользователя</h1>
<%= form_for  @account, :url => account_path(@account), :html => {:method => :put, :class => :one_line_form} do |form| -%>
<%= render :partial => 'account', :locals => {:form => form} %>
 <% end -%>
