<% title "Новый пользователь" -%>
<hr />
<p class="muted">
<span class="label label-important">Внимание!</span> Имя и пароль будут сгенерированы автоматически и отображены на экране после добавления нового пользователя.
</p>
<%= render :partial => 'account' %>
