		<p class="article_name_2">Аналогичные товары</p><br /><hr />
		<div class="pict_float_2">
		<% @product.analogs(3).each do |analog| -%>
		<div class="article_img_2_float">
		  <div class="article_img_2">
		    <div class="article_img_3">
		    <%= link_to product_image(analog), product_foreign_path(analog)+'.html', :title => analog.short_name %>
		    </div>
		  </div>
		</div>
		<% end -%>
		<div class="clear"></div>
		</div>
