<% page_title "Редактирование товара" -%>
<h1>Редактирование товара</h1>

<%= render :partial => "product" %>
<div class="spacer"></div>
<%= link_to '<< Вернуться в Мои товары', lk_products_path, :class => "a-text-blue" %> 
