<% page_title "Список товаров" -%>
<h1>Список товаров</h1>
<div class="b-command-menu"><%= link_to 'Добавить новый товар', new_lk_product_path  %></div>
<div class="">
<%= render :partial => 'filter', :locals => {:path => lk_products_path, :remote => false} %>
</div>
<% if @products.present? -%>
<%= render :partial => "products", :locals => {:products => @products, :should_check => false} %>
<% else -%>
<p>Товары отсутствуют</p>
<% end -%>


