/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 

 *= require lk/app_bootstrap
 *= require jquery.treeview
 *= require lk/new
 *= require lk/logos
 *= require lk/datepicker
*/

 
//  require base/reset 
//  require lk/jquery-ui
//  require base/layout
//  require lk/ra
//  require base/search 
//  require news 
//  require_tree . 

@import "giftpoisk_vars";

h3.h3-lk {
	border-bottom:1px solid #999;
	padding-bottom:10px;
	padding-top:5px;
}

.lk-menu-title{
  font-size:13pt;
  font-weight:900;
}

.center_block { 
  margin-top:20px;
  padding: 0 5px;
}  

.b-command-menu
{
    padding:10px 0;
    font-size: 1.2em;
}

.b-float-left { float:left }

.b-float-right { float:right; }

a.a-text-blue {
	color:#177E99;
	text-decoration:none;
}

td.checkbox {
  width:14px;
}  

td.right {text-align:right;}

.b-submit {
 margin-top: 1em;
 text-align:right;
/*  float:right;*/
}

.i-help-popup img{
  background: image-url("lk/images/help.png") no-repeat top left;
  width:16px;
  height:16px;
  padding-left:5px;
 }

.ui-widget-content { text-align:left;}
 
 .ui-dialog, .ui-dialog-buttonpane, .ui-dialog-content { 
  background: $background_color_search;
  border:solid 1px darken($background_color_search,20%);
/*  background-color:#FFFFDC;*/
/*  background: #ffffdc url(images/ui-bg_flat_75_ffffdc_40x100.png) 50% 50% repeat-x  */
 }
 

.navi {
  border-top:solid 1px #ccc;
  margin-top:15px;
  padding-top:5px;
  a { 	
    color:#177E99;
	  text-decoration:none;
  }
}

 
.art-sup {color:red;}


#header_title {
  text-align: left;
   a {
    display: inline-block;
    color: #fff;
    padding: 2px 20px 0;
  }
}  


.min-categories li a{
  font-size:10pt;
}

