#commercial_offer_items {
 table td.checkbox {
    background-color:#ccc;
  }
}


#co_output a.pseudo-link {
  font-size:0.8em;
  color:#0080B2;
}

#co_settings{
  font-size:0.8em;
  display:none;
}  

.b-co-description {
  float:left;
  width:50%;
  textarea { width:95%;}
}


.b-co-delta {
  float:left;
  width:50%
}

.b-co-delta-inner {padding: 5px 0 5px 25px;}

