@import "giftpoisk_vars";
@import "variables";
body {padding-top: 40px;
//background: $c_light_blue;
}

.navbar .brand {padding-left:30px;}

#gift_logo {
  width: 208px;
  height: 86px;
  margin:13px 0px 10px;
  margin-left:-15px;
  background: $logo_url no-repeat top left;  
}

.no-wrap {white-space: nowrap;}
.clear {clear: both;}      	    
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-left:250px;
  margin-bottom: 0;
  color: #555;
}
.categories-tree {
// border-right: solid 1px $grayLight;
// margin-right:-10px;
 .accordion {
//    padding-right:10px;
    background:#F6F5FF;
    }
}

.table-valgined td {vertical-align:middle;}
td {min-width:16px;}

.icon  {
      display:inline-block;
      width:16px;
      height:16px;
      background: image_url("lk/images/logo_panel.png") no-repeat;
}
.picture-add-logo {
  background-position: -96px 0;      
}
.picture-edit {
  background-position: -64px -16px;      
}
.picture-remove {
  background-position: -80px -16px;      
}

#new_client_modal {max-height:700px; top:40%;}



.cart-indicator {
  font-size:9.9pt;
}
