@import "variables";

ul#news_menu {
  margin-bottom:20px;
  li {
    background: image-url("lk/images/folder-open.png") no-repeat left center;
    padding-left:20px;
    width:140px;
    line-height:1.8;
    p {
      padding-left:3px;
      color:#000;
      a { 
        color: $linkColor;
        text-decoration: none;               
        margin-right:20px;
        &:hover { color: darken($linkColor, 10%);}
      }
      &.selected {
        color:#fff;
        background-color:$linkColor;      
        a { color: #fff }
      }
    }
  }
}  
span.state_4 { color:red;}
