@import "giftpoisk_vars";
@import "buttons";

table th
{  
  color:#EAF7E6;
  background-color: $background_color;
}

.b-search-property {
  width:220px;
  float:left;
  text-align:left;
}  

#title h1, .center_block h1, .center_block h2, .lk-menu-title {
}

tr.disabled-row {
 color:#999;
}

#order {
	font-size:9pt;
}

#order .b-user-comment textarea {
  min-width:200px;
  width: 80%;
}  

.b-bg {
  background:#ccc;
  padding:15px;
  color:#193839;
}

#lk_product_description {
  width:100%;
}


.margin-left4 {margin-left:40px;}
.margin-left2 {margin-left:20px;}

.b-product-thumbnail img {
max-width:120px;
max-height:120px;
}

#filter span {
  margin:0 10px;
}

#filter {
  line-height:2em; 
  padding:5px;
}


#filter select {max-width:160px}

#filter input[type="text"] {width:160px;}

div.radio-buttons {margin-bottom:5px;}

.radio-buttons a {
  text-decoration:none;
  border-bottom:dotted 1px;
 }
 
.radio-buttons a.selected { color:#004276; font-weight:bold;}

  $c_grey:#696969;
  

 .ui-widget-content button, input[type="submit"] {
   @extend .br_button;
}

 .gray_button {
    @include default_button;
    background: $c_grey;
    font-weight:bold;
    color:#fff;
    border: 1px solid darken($c_grey, 10%);  
    &:hover {
      background: lighten($c_grey, 5%);
      border: 1px solid darken($c_grey, 10%);  
    }
 }

.treeview li span.selected a {color:#cc3366;}

.treeview li a {
	color:#333;
	font-weight:normal;
	font-size:11pt;
	line-height:1.5;
}

.treeview li ul li a {
	font-size:10.5pt;
	line-height:1.2;
	
}

.treeview li ul li ul li a {
	font-size:10pt;
	line-height:1.2;
	color:#999;
}

.treeview li a:hover, .treeview ul a:hover {
	color:#cc3366;
}

.treeview ul a {
	color:#666;
	font-weight:normal;
}
.pager {
padding: 10px 0;
}

.icon  {
      display:inline-block;
      width:16px;
      height:16px;
      background: image_url("lk/images/logo_panel.png") no-repeat;
}
.picture-add-logo {
  background-position: -96px 0;      
}
.picture-edit {
  background-position: -64px -16px;      
}
.picture-remove {
  background-position: -80px -16px;      
}


