 * {
	margin:0px;
	font-family: Helvetica, Arial;
}

html {
	width:100%;
	height:100%;
}

body {	
    font-size: .75em;
	text-align:center;
	width:100%;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	position: relative;
}

h1, h2, h3 {
    color:#999999;
    margin-top:5px;
    margin-bottom:5px;
}

h1 {font-size:1.3em;}
h2 {font-size:1.2em;}
h3 {font-size:1.1em;}

#gift_logo {
  width: 208px;
  height: 86px;
  margin:13px 0px 10px;
}


#header_title {
	display:block;
	background:#999999;
	width:100%;
	height:20px;
}

#all_content{
	float:left;
	width:100%;
	padding-bottom:97px;
}

#right_content {
	float:left;
	width:260px;
	margin-left:-260px;
	padding-bottom:97px;
}

#left_content  {
	float:left;
	width:260px;
	margin-left:-100%;
	padding-bottom:97px;
	
}

.content{
	margin-left:260px;
	margin-right:260px;
	text-align:left;
	padding:0 6px;
}

.content p, .commercial_offer label {
    color:#999999;
    text-align:left;
    font-size:10pt;
}

.content a {
    color:#999999;
}

.line {
	width:250px;
	height:5px;
	background:#999999;
	margin:10px;
}

.line-no-margin {
	margin:0;
}

.line-top-margin {
	margin:0;
	margin-top:10px;
	width:250px;
}

.line-left-margin {
  margin-left:10px;
}

.left_block {
	text-align:left;
	font-size:10pt;
	background:none;
}

.center_block {
	width:100%;
	text-align:left;
	margin-bottom:20px;
}

td
{
  padding: 5px;
  border: solid 1px #e8eef4;
}

table th
{
  font-size:1em;
  font-weight:bold;
  padding: 6px 5px;
  text-align: left;
  border: solid 1px #e8eef4;
}


td, th {vertical-align:middle;}
.center_block table {width:100%;}
.no-wrap {white-space: nowrap;}
.g-hidden {display:none;}
div.spacer {height:10px;}
a.pseudo-link
{
  border-bottom:dotted 1px;
  cursor:pointer;
  text-decoration:none;
/*  color:#034AF3;*/
}

.clear{	clear:both;}

input[type="text"],  input[type="email"], input[type="url"], input[type="password"],  select,  textarea { 
  border: 1px solid #999;
  width: 200px;
}

input.inp-numeric {width:90px;}

input.inp-quantity {width:30px;}

input:focus,  select:focus,  textarea:focus{
  -moz-box-shadow: 0 0 3px #888;
  -webkit-box-shadow: 0 0 3px #888;
  box-shadow: 0 0 3px #888;
	behavior: url(/javascripts/PIE.htc);
}
  
a.menu_left {
	color:#177E99;
	text-decoration:none;
	line-height:1.3;
}

a:hover.menu_left {
	color:#cc3366;
	text-decoration:underline;
}

.pagenav {
	font-size:9pt;
	margin-bottom:15px;
}  

.banner_left {
  background: #999999 image-url("base/images/banner.png") no-repeat top left;
	width:234px;
	margin-left:15px;
	height:154px;
/*	border:1px solid black;*/
}

.banner_center {
	width:100%;
	margin-top:15px;
	margin-bottom:15px;	
	height:100px;
	background:#999999;
	border:1px solid black;
}

.banner_right {
	width:230px;
	margin-left:10px;
	margin-top:15px;
	margin-bottom:15px;	
	height:150px;
	background:#999999;
	border:1px solid black;
}

#footer {
	margin-top:-90px;
	width:100%;
	height:90px;
	text-align:center;
	background:#ffecec;
	position:absolute;left:0;bottom:0px;width:100%;
}

.left_block p   {
  margin-top:0px;
  margin-left:15px;    
}

.left_block p.b-header   {
  padding-bottom:15px;
  margin-left:15px;
  padding-top:5px;
  }

.left_block p.b-header-2{
  padding-bottom:5px;
  padding-top:0px;
  color: #C36;
  font-size: 13pt;
  background: #F6F5FF;
  }

#flash_alert, #flash_notice
{
    margin: 10px 0;
    letter-spacing: 0.12em;  
    padding: 10px;
}

#flash_alert
{
    color: #C36;
    background: #FFECEC;
}
#flash_notice
{
    color: black;
    background-color: #B9F6A9;
    opacity: .8;
}

.errorExplanation
{
    color: black;
    background-color: #fedada;
    padding: 5px;
    margin-bottom: 10px;
}

.field_with_errors
{
    background-color:  #fedada;
    padding: 4px 1px 4px 1px;
}

.login-form p label {
	color:#fff;
}

.one_line_form label {
	color:#999;
}

.one_line_form {float: left;}

select {background-color: white;}

.one_line_form label:first-child, .b-formfield-div span
{
    float: left;
    padding-right: 10px;
}
.b-formfield-div
{
    clear:both;
    text-align:right;
    line-height: 25px;
    margin-bottom: 10px;
}
.b-formfield-div span
{
  margin-left: -8px;
  color: #c36;
  font-size:8pt;
  vertical-align:super;
}

/* Style basket */

.basket_right {
    height:100px;
    width:240px;
}

.basket_right img {
    position:relative;
    top:5px;
//    left:60px;
}
.basket_50 a {
    color:#999999;
}

.basket_50 {
    width:120px;
    float:left;
    font-size:9pt;
    margin-top:5px;
    div {margin:10px 0;}
    .blank_cart { margin-top:30px;}
    .full_cart { margin-top:5px;}
    #cart_name, #cart_count {font-size:10pt;}
    #cart_name a { text-decoration:none;}
    #empty a {font-size:8pt; text-decoration:none; border-bottom:1px dotted #999; }  
}

.login-form {
  margin-left:10px;
  width:200px;
}
.login-form h2 {
	font-size:10pt;
	color:#fff;
	font-weight:normal;
}
.login-form p {
	font-size:9pt;
	color:#fff;
	clear:both;
	width:100%;
	text-align:right;
	line-height: 20px;
	margin-bottom: 5px;
	font-weight:bold;
}

.login-form input[type="text"], .login-form input[type="password"] {
  width:119px;
}

/* Личный кабинет */
.lk {
	margin-top:20px;
	margin-left:0px;
	width:250px;
	height:120px;
	background:#999;
	text-align:left;
	a {color:#fff;}
}


.lk a:hover {
	color:#CC3366;
}


.lk-rec { float:left; }

.lk-reg { float:right; }

.lk-links {
  margin:10px;
	font-weight:normal;
	font-size:9pt;
	padding-top:1px;
	color:#999999;
	a {
  	border-bottom:1px dotted #fff;
	  text-decoration:none;
	}
}


.lk-t {
	color:#fff;
	font-size:10pt;
	padding-left:10px;
	padding-top:4px;
}

.lk-login {
	background: image-url("base/images/lock.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
/*	margin-left:145px;*/
	width:24px;
	height:24px;
	position:absolute;
	padding-bottom:3px;
}

a:hover.lk-login {
	background: image-url("base/images/lock_hover.png") no-repeat scroll 0 0 transparent;
}

.lk-logout  {
	background: image-url("base/images/unlock.png") no-repeat scroll 0 0 transparent;
	width:24px;
	height:24px;
	cursor:pointer;
	display:block;
}

a:hover.lk-logout {
	background: image-url("base/images/unlock_hover.png") no-repeat scroll 0 0 transparent;
		width:24px;
	height:24px;
	cursor:pointer;
	display:block;
}
  
  .f-block {
	padding-top:10px;
	line-height:1.5;
	color:#666;
}

.paginate2 {
  float:right;
}
.products-per-page, .b-left {
  float:left;
}

.per-page { 
  font-weight:900;
}

.per-page a { font-weight:normal;}

.ajax_animation {
  display:none;
  margin: 0 20px; 
} 

a.toggle-category {
  color:#616F8F;
  text-decoration:none;
  border-bottom:dotted 1px;
}   
  
.corner-all {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	behavior: url(/javascripts/PIE.htc);
}

.shadow {
  -moz-box-shadow: #000 0px 0px 7px;
  -webkit-box-shadow: #000 0px 0px 7px;
  box-shadow: #000 0px 0px 7px;
//	behavior: url(/javascripts/PIE.htc);
}


input[type="submit"], input[type="button"], .b_button, .r_button, .g_button {
  cursor:pointer;
  margin:auto;
  font-size:9pt;
  padding: 4px 15px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: #666 0px 2px 3px;
  -moz-box-shadow: #666 0px 2px 3px;
  box-shadow: #666 0px 2px 3px;
	behavior: url(/javascripts/PIE.htc);
}  


*+html input[type="submit"], *+html .b_button, *+html .g_button, *+html .r_button {
  padding: 2px 10px;
}

.g_button {
  border: 1px solid #45682a;
  background: #689f3d;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a2db5a), to(#689f3d));
  background: -webkit-linear-gradient(#a2db5a, #689f3d);
  background: -moz-linear-gradient(#a2db5a, #689f3d);
  background: -ms-linear-gradient(#a2db5a, #689f3d);
  background: -o-linear-gradient(#a2db5a, #689f3d);
  background: linear-gradient(#a2db5a, #689f3d);
  -pie-background: linear-gradient(#a2db5a, #689f3d);
}


div.b-rgb {margin:10px 0;}

a.r_button, a.b_button, a.g_button {color:#e8eef4; text-decoration:none;}

.g_button:hover { 
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a2db5a), to(#79A93B));
  background: -webkit-linear-gradient(#a2db5a, #79A93B);
  background: -moz-linear-gradient(#a2db5a, #79A93B);
  background: -ms-linear-gradient(#a2db5a, #79A93B);
  background: -o-linear-gradient(#a2db5a, #79A93B);
  background: linear-gradient(#a2db5a, #79A93B);
  -pie-background: linear-gradient(#a2db5a, #79A93B);
}

input[type="submit"]:active, .b_button:active, .r_button:active, .g_button:active { 
  -webkit-box-shadow: inset #666 1px 1px 3px;
  -moz-box-shadow: inset #666 1px 1px 3px;
  box-shadow: inset #666 1px 1px 3px;
}
.ui-widget-content {
border: 1px solid #eee;
}
