<!DOCTYPE html>
<html>
<head>
  <title>Lk</title>
  <%= stylesheet_link_tag    "lk/application" %>
  <%= javascript_include_tag "lk/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
