<table cellpadding="0" cellspacing="0" width="800" align="center" style="border-collapse:collapse;">
<tr>
  <td style="width:20px;"></td>
  <td>
    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;">
    <tr>
      <td>
        <%= yield :layout  %>
      </td> 
    </tr>  
    <tr>
      <td>
        <p style="line-height:20px;">        
            <% if Settings.giftb2b? -%>
             <strong>Служба поддержки пользователей:</strong> <br />
             <a href="mailto:help@giftb2b.ru" target="_blank">help@giftb2b.ru</a>
           <% else -%>
             <strong>Служба поддержки для рекламных агентств:</strong> <br />
              <a href="mailto:ra@giftpoisk.ru" target="_blank">ra@giftpoisk.ru</a><br />
            +7 (495) 741-06-95
         <% end -%>
        </p>
      </td>
    </tr>
    </table>
  </td>
  <td style="width:20px;"></td>
</tr>
</table>

<table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse; border:none;" border="0">
<tr>
  <td width="20" height="20"></td>
  <td><hr /></td>
  <td width="20" height="20"></td>
</tr>
<tr>
  <td/>
  <td align="left">
    <span style="font-family:Tahoma; font-size:12px; color:#404040;">
    <% if Settings.giftb2b? -%>
     Gift Research (Гифт Ресерч) - IT решения для сувенирной отрасли. ©  <a href="http://giftb2b.ru">giftb2b.ru</a>  <%= Date.current.year %></span>                
    <% else -%>
     Gift Research (Гифт Ресерч) - IT решения для сувенирной отрасли. ©  <a href="http://giftpoisk.ru">giftpoisk.ru</a>  <%= Date.current.year %></span>            
    <% end -%>
  </td>
</tr>
</table>
