<div class="happy-birthday">
<div class="b-float-right">
  <%= image_tag 'happy_birthday.png' %>
</div>
<div class="b-float-right">
  <h1><%= current_user.fio %>!</h1>
  <p>Примите наши поздравления, <br />
В прекрасный праздник День Рождения. <br />
Желаем счастья и любви <br />
И исполнения мечты.!</p>
<div class="spacer"></div>
  <p><em>Коллектив giftb2b.ru</em></p> 
</div>
<div class="clear"></div>  
</div>


