<p class="b-header"><span><strong>Праздники</strong></span></p> 
        <div style="margin-left:15px;">
  <%= tree_ul_from_hash(@categories) do |item|  %>   
    <% content_tag(:span, link_to(item[:name], foreign_path(item[:permalink])+ '.html',
                                 :title => item[:name],
                                 :id => "tree_item_#{item[:id]}"), 
                                 :class => (defined?(@permalink) and @permalink==item[:permalink]) ? "selected"  : nil ) %>
   <% end -%>        
        </div>
