<p class="b-header"><span><strong>Каталог сувениров</strong></span></p> 
        <div style="margin-left:15px;">
  <%= tree_ul_from_hash(@categories) do |item|  %>   
   <% content_tag(:span, link_to(item[:name], foreign_path(item[:permalink])+ '.html'), :id => "tree_item_#{item[:id]}", 
   :class => (defined?(@category) and @category.id==item[:id]) ? "selected"  : nil ) %>
   <% end -%>        
  <%#= tree_ul(@categories) do|item|    
   content_tag(:span,link_to(item.name,   foreign_path(item)+ '.html'), :id => "tree_item_#{item.id}", :class => (defined?(@category) and @category.id==item.id) ? "selected"  : nil )
   end %>   
        </div>
