<%= render :partial => 'admin/shared/sub_menu_categories' %>

<%title 'Категории (разделы) каталога'  %>

<%= hidden_field_tag :current_action_name, action_name -%>

<div id ="category_tree" class ="b-tree_list">
<%= render :partial => "category_tree" %>
</div>

