        <div class="search corner-all"> 
	      	  <div class="search-form"><%= form_tag main_app.search_path(:anchor => "results"), :method=> :get do  -%>
				<div class="search-w">
					<div class="search-c">
						<p>Поиск сувениров:</p>
						<%= text_field_tag :request, params[:request] %>
						<p class="search-count">
						<% cache 'search/products-count', :expires_in => 24.hours do -%>
						  в базе: <%= I18n.t(:product, :count => Product.count) %>, <%= I18n.t(:supplier, :count => Supplier.count) %>
						  <% end -%>
						</p>
						<p class="search-a"><a href="/search">расширенный поиск</a></p>
						<div class="clear"></div>
					</div>
				</div>
	        	<div class="search-n">  
					<button class="s_button" type="submit"></button>
				</div><div class="clear"></div>
               <% end -%>
          </div> 
        </div> <!-- end search --> 
