<% page_title "Поиск сувениров" -%>
<%= render :partial => 'search/ext_search2'  if giftpoisk?%> 
<div id="content"> 
<div class="spacer"></div>
<a name="results"></a>
<%= render :partial => "search_results" %>
</div>

