<script type="text/javascript">
$(function() { 
  setCateogryFilterValues("#categories_dialog"); 
});
</script>

<%= form_tag path, :remote => remote, :method => :get, :id => "filter", :class => "form-search well"  do %>

<%= text_field_tag :request, params[:request], :placeholder => "Название, артикул", :class => "input-medium search-query" %>

<% if @category_ids.present? -%>
  <%= link_to 'Отфильтровать по категории товара', "#categories_dialog", :id => "select_category", :class => "pseudo-link", :data => {:toggle => "modal"} %>
<% end -%>
<span id="category_ids"></span>
<%= render :partial => "modal_categories" %>
<button class="btn" type="submit"><i class="icon-search"></i> Найти</button>
<% end %>
