<div id="categories_dialog" title="Выбор категории" class="modal hide fade">
<div class="modal-header">
<a class="close" data-dismiss="modal">×</a>
<h3>Выбор категогрии</h3>
</div>
<div class="modal-body">
 
 <ul id="tab" class="nav nav-tabs">
 <li class="active"><a href="#catalog" data-toggle="tab">Каталог</a></li>
 <li><a href="#thematic" data-toggle="tab">Тематические</a></li>
 <li><a href="#analogs" data-toggle="tab">Праздники</a></li>
 </ul>
 
  <div class="tab-content">
    <div id="catalog" class="tab-pane active">
      <%= min_categories_tree(@catalog, @category_ids, params[:category_ids] ? params[:category_ids].map(&:to_i) : []) %>
    </div>
    <div id="thematic" class="tab-pane">
      <%= min_categories_tree(@thematic, @category_ids, params[:category_ids] ? params[:category_ids].map(&:to_i) : []) %>
    </div>
    <div id="analogs" class="tab-pane">
      <%= min_categories_tree(@analogs, @category_ids, params[:category_ids] ? params[:category_ids].map(&:to_i) : []) %>
    </div>    
  </div>  
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Ок</a>
    <a href="#" id="clear_tree" class="btn">Очистить</a>
  </div>   
</div>
