<% page_title "Редактирование товара" -%>
<h1>Редактирование товара</h1>

<%= render :partial => "product" %>
<div class="spacer"></div>
<%= link_to '<< Вернуться к списку товаров', products_path, :class => "navi" %> 
