<% page_title "Список товаров" -%>
<h1>Моя база сувениров</h1>
<p class="muted">
Товары из этого списка можно добавлять в заказы и коммерческие предложения, или выводить в каталоге на Вашем сайте.
</p>
<hr />
<div class="btn-toolbar"><%= link_to 'Добавить новый товар', new_product_path, :class => "btn btn-info"  %></div>
<%= render :partial => 'filter', :locals => {:path => products_path, :remote => false} %>

<%= render :partial => "products", :locals => {:products => @products, :should_check => false} %>
<%= will_paginate @products %>
