<% page_title "Список товаров" -%>
<div class="page_header">
<h1>Моя база сувениров</h1>
<p class="muted">
Товары из этого списка можно добавлять в заказы и коммерческие предложения, или выводить в каталоге на Вашем сайте.
</p>
</div> 

<div>
<%= render :partial => 'filter', :locals => {:path => products_path, :remote => false} %>
</div>

<%#= render :partial => 'shared/paginate2', :locals => {:products => @products, :no_ajax => true} %>

<%= render :partial => "products", :locals => {:products => @products, :should_check => false} %>


<%= will_paginate @products %>
<%#= render :partial => 'shared/paginate2', :locals => {:products => @products, :no_ajax => true} %>

