<% page_title "Создание товара" -%>
<h1>Создание нового товара</h1>

<%= render :partial => "product" %>
<div class="spacer"></div>
<p class="navi">
<%= link_to '<< Вернуться к списку товаров', products_path %>
</p>

