/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
   
 *= require base/reset
 *require_tree .
 *= require base/jquery.treeview
 *= require base/jquery-ui
 *= require smoothDivScroll
 *= require base/layout
 *= require base/base
 *= require_self
 
*/

#gift_logo {
  background: image-url("images/logo_giftb2b.png") no-repeat top left;
}

table
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table.noborder, table.noborder td {border:0px}

table th
{  
  color:#EAF7E6;
  background-color: #C36;
}

table tr.alert td
{
  background-color:red;
}

.center_block h1, .center_block h2 {
	color:#c36;
}


.search {
	width:100%;
	margin-top:13px;
	margin-bottom:15px;
  min-height:80px;
	background:#cc3366;  
	
}

.search-form {
	display:block;
	position:relative;
	padding:20px;
	padding-bottom:5px;
	line-height:1.6em;
  color: #fff;
}

.search-w {float:left;width:100%;margin-left:-80px;}
.search-c {margin-left:80px;line-height:1.5;}
.search-n {float:right;width:60px;}

p.search-count {float:left;font-size:0.9em;}
p.search-a {text-align:right; float:right;}
p.search-a a {font-size:0.9em}


p.search-a a, a.green-link {
  color:#82D269;font-weight:bold
}  

.search-form h1, .search-form a, .search-form p {  color: #fff;}

.search-form a {
  border-bottom:dotted 1px;
  cursor:pointer;
  text-decoration:none;
}  

.search-form input#article { width:10%; }
.search-form input#name { width:55%; }
.search-form input#request {width:100% }
.search-form input {   border: solid 1px #BB0F48; }

.scrollable-control a:link {
    font-size:16pt;
    border-bottom:dotted 1px;
    cursor:pointer;
    text-decoration:none;
      
}
.scrollable-control a:hover {color:#4477EE;}
.scrollable-control a.selected {color:#936;}

#novice_animation {
    width:100%;
    text-align:center;
    min-height:16px;
}

.city-filter { margin-bottom:10px;}

#novelty_link {
	color:#82d269;
	margin-right:20px;
	font-weight:bold;
}

#sale_link {
	color:#ff5026;  
	font-weight:bold;
}

.b-sale-information {
	background:#F6F5FF;
	padding: 10px;
	margin-left:10px;
	position:relative;
}

.b-sale-information  p{
	margin:0px;
	line-height:1.3;
}

.b-sale-information  a{
	color:#999;
}

.b-popup{
 position:absolute;
 z-index:999;
 padding:10px;
 border:solid 1px #c36;
 width:200px;
 height:130px;
 background-color: #fee;
 display:none;
}

div.b-popup-info {
	text-align:left;
	line-height:1.2em;
}

div.b-popup-info h1 {
padding-bottom: 0.8em;}

.b-ext-search-inner {
  background-color:#FFD8D9
}

.b-ext-search { 
  background-color: #ffeeee;
}


#map {
  width:600px;
  height:400px;
}

.b-product-store-units { 
  padding:5px 0 5px 5px;
}


#firm_contact {padding:8px;}
#firm_contact td, #firm_contact table {border:0;}
#firm_contact hr {margin:10px 0;}
#firm_contact  p{margin:10px 0;}
#firm_contact  span{margin:0 10px;font-size:14pt;color:#333;}

.left_block p.b-header span{
  color:#cc3366;
  font-size:13pt
}


.cat-name {
  position:relative;
	margin:0;
	padding:0;
	text-align:center;
	background:#c36;
	height:38px;
	color:white;
	font-size:11pt;
	font-weight:bold;
	margin-bottom:40px;
}
.cat-name p{ 
  position:relative;
	margin:0px;
	padding-top:9px;
}
.b-down, .b-up  {
	position:absolute;
	z-index:10;
	background: image-url("images/button_down.png") top center;
	width:64px;
	height:22px;
	top:38px;
	left:98px;
}

.b-up  {
	position:absolute;
	z-index:10;
	background: image-url("images/button_up.png") top center;
}


#lk {margin-left:10px;}

.b-n-header {
  margin:10px 0;
	min-height:113px;
	background: image-url("images/bg_block_repeat.png") top repeat-y;
	position:relative;
}


.b-b-block {
	background: image-url("images/bg_block.png") bottom center no-repeat;
	position:relative;
	border:1px solid #fff;
	margin:auto;
	min-height:113px;
}

.b-t-block {
	border-left:2px dashed #333;	
	margin-left:18px;
	margin-top:10px;
	margin-bottom:10px;
	h3 {	
	  color:#c36;
  	font-size:12pt;
	  margin-bottom:5px;
	  margin-left:10px;
  }
  p {
    padding:0;
    margin:0;
    margin-left: 10px;
    a { font-size:9.5pt; font-weight:normal; }
  }  
}

$c_light_green: #82D269;

.latest-news {margin-left:-17px;
padding-left:8px;}
.b-news-item { 
  p {padding-bottom:5px;}
  padding: 5px 0;
}
.b-news-date { color:$c_light_green; }
p.b-all-news  {
  margin-top:10px;
  a {font-weight:bold;}
}

$c_light_gray: #EFEFEF;
$c_light_blue: #177E99;



.b-news-index {
  .b-news-info {
    color:$c_light_green; 
    margin-bottom:5px;
    span { float:right; font-weight:bold}      
  }
  a {color:$c_light_blue}
  
}

@mixin grey-border {
  border:1px solid $c_light_gray;
}  
.b-news{
  @include grey-border;
  .header {
    height:35px;
    background-color:$c_light_gray;
    padding:5px 5px 0px 5px;
    h1 {float:left;}
      .b-news-date {
        margin-top:7px; 
        float:right;     
        font-weight:bold;
      }
  }
  
  .news-content  {
    #line { margin-bottom:10px; border:0px; height:1px; background-color:$c_light_gray;}
    padding:15px;
    #news_picture {
      float:left;
      margin-right:10px;
      @include grey-border;
      padding:10px;    
    }
    h2 { padding:5px; }
    p { padding-bottom:5px; font-size:11pt; }
  }
  .footer {
    font-weight:bold;
    margin-bottom:10px;
    padding:0 5px;
    .b-all-news { 
      float:left;
      a {color:#c36;}
      }
    #news_owner {
      float:right;
      color: $c_light_green;
     }
   }
}

.b-news-index {
  padding:10px; 
  @include grey-border;
  div.title { color:$c_light_green;
   span {font-weight:bold;}
   }
  div.link { margin:5px 0 15px 0;}
}

span.red-square {
  display:inline-block;
  height:7px;
  width:7px;
  background-color:#C36;
  margin:0 5px 1px;
}

#left_content, #right_content {padding-bottom:140px}

#footer {
	background:#ffecec;
	height:120px;
  .f-links {
    background-color: #C36;
    text-align:left;
    .f-links-inner {
      width:90%;
      margin-left:auto;
      margin-right:auto;
    }
    ul li {
      display:inline-block;
      width:24%;
      line-height:2em;    
      a {color:#000}
    }
  }
}
