#gift_logo {
  background: image-url("logo_giftb2b.gif") no-repeat top left;
}

table th
{  
  color:#EAF7E6;
  background-color: #c36;
}

.center_block h1, .center_block h2, .lk-menu-title, .per-page {
	color:#c36;
}

input[type="submit"], .r_button {
  color:#e8eef4;
  border: 1px solid #773841;
  background: #a91e4c;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cc6666), to(#a91e4c));
  background: -webkit-linear-gradient(#cc6666, #a91e4c);
  background: -moz-linear-gradient(#cc6666, #a91e4c);
  background: -ms-linear-gradient(#cc6666, #a91e4c);
  background: -o-linear-gradient(#cc6666, #a91e4c);
  background: linear-gradient(#cc6666, #a91e4c);
  -pie-background: linear-gradient(#cc6666, #a91e4c);
}
