<%= render 'admin/shared/sub_menu_product2' %>

<%title 'Изображения товара'  %>

  <div class="b-uploadfile">
  <%= render :partial => 'upload_image', :object => admin_product_images_path(@product) %>
  </div>


<div class="clear"></div>
  <div>
    <h3>Список изображений </h3>
    <div id="product_image_list">
     <%= render :partial => "product_image_list" %>
     </div>
  </div>

<div class="clr"></div>

