<% page_title ("Новый пользователь") %>
<div class="content">
<div class="center_block"> 
<% if @can_register -%>
<%= render :partial =>'user' %>  
<% else -%>
<%= render :partial =>'who_are_you' %>
<% end -%>
</div>
</div>
