 <table>
      <tr>
        <th></th>
        <th>Поставщик</th>
        <th></th>
       <% suppliers_list.each do |item| %>
  	    <tr>
    	    <td>
        		<%= link_to image_tag('edit.png'), edit_admin_supplier_path(item.id)  %>
    	    </td>
    	   	<td>
      		  <span id="<%="item_#{item.id}"%>"><%=h item.name %></span>
      		</td>
      		<td>
      		  <%= link_to image_tag('bin.png'), admin_supplier_path(item.id) , :method => :delete, :confirm=>"Уверены?", :html => {:title =>'Удалить'}  %>
      		</td>
      	</tr>
    	<% end %>
  </table>

