<% title 'Изменение данных поставщика' %>

<div class="grid_12 alpha">
<%= render @supplier %>
</div>

<div class="grid_4 omega">
<%= link_to 'Удалить все товары этого поставщика', truncate_products_admin_supplier_path(@supplier.id) if current_user.is_admin?  %>
</div>

<div class="clear"></div>
<%= link_to 'Назад к списку производителей', admin_suppliers_path %>
