  <div id="footer">
    <div class="f-links">
      <div class="f-links-inner">
      <ul>
        <li><a href="http://sale.giftpoisk.ru/база-данныхbr-сувенирной-продукции">Тарифные планы</a></li>
        <li><a href="http://giftb2b.ru/p/postavshiki">Поставщики</a></li>
        <li><a href="http://giftb2b.ru/p/how-to-order">Заказ сувениров у поставщиков</a></li>
        <li><a href="http://giftb2b.ru/p/to-add-catalogue">Установить Каталог на свой сайт</a></li>
        <li><a href="http://giftb2b.ru/p/help">Помощь</a></li>
        <li><a href="http://giftb2b.ru/p/catalogues">Каталоги</a></li>
        <li><a href="http://giftb2b.ru/p/how-to-search">Параметрический поиск сувенииров</a></li>
        <li><a href="http://giftb2b.ru/p/how-to-online-shop">Разработка интернет-магазина</a></li>
        <li><a href="http://giftb2b.ru/p/about">О проекте</a></li>
        <li><a href="http://giftb2b.ru/p/regions">Регионы</a></li>
        <li><a href="http://giftb2b.ru/p/how-to-make">Подготовить КП по каталогу</a></li>
        <li><a href="http://giftb2b.ru/p/how-to-sale">Готовый инструмент продаж</a></li>
      </ul>
      </div>
    </div>
  	<div class="f-block">
    	<p>© 2009-2011 <a href="http://giftresearch.ru">GiftResearch</a> - IT решения для рекламной отрасли</p>
    	<p> www.giftb2b.ru - Большой Каталог бизнес сувениров </p>
  	</div>
  </div> <!-- end footer --> 

