<%  @product.cached_color_variants.each do |property_name, products|  -%>
  <hr /><p class="article_name_2"><%= property_name %></p>
  <div class="pict_float_2">
	  <% products.each do |p| -%>
    <div class="article_img_2_float">
       <div class="article_img_2">
          <div class="article_img_3">
            <%= link_to product_image(p), product_path(p), :title => p.short_name  %>
          </div>
       </div>
    </div>
    <% end -%>	
	<div class="clear"></div>
  </div>
<% end -%>		
