<% if ext_user? &&  @product.cached_store_units.present?  -%>
			<p class="article_t">Наличие на складе:</p>
     <% @product.cached_store_units.each do |su| -%> 
      <div class="b-product-store-units">
       <% if su.store.location.present? -%>
        <p class="article_t">Склад: <span class="article_s"><%= su.store.location %></span></p>         
       <% end -%>
       <% if su.store.delivery_time.present? -%>
        <p class="article_t">Срок поставки: <span class="article_s"><%= su.store.delivery_time %></span></p>
       <% end -%>
        <p class="article_t">Количество: <span class="article_s"><%= store_count su %></span></p>
      </div>
    <% end -%>
<% else -%>
			<p class="article_t">Наличие на складе: <span class="article_s"><%= total_store_count @product %></span></p>
<% end -%>

