<%  @product.cached_properties.each do |property|  -%>
			   <p class="article_t"><%= property[:name] %>:
			    <span class="article_s"><%= property[:values].join(", ") %></span>
			   </p>
			<% end -%>
