
<div style="margin-left:15px;">
   <%= tree_ul_from_hash(Category.cached_catalog_categories) do |item|  %>   
   <% content_tag(:span, link_to(item[:name], main_app.category_path(item[:permalink]), :title => item[:name]), :id =>  "tree_item_#{item[:id]}",
   :class=> treeview_selected(item[:permalink])) %>
   <% end -%>
</div>
