      <p class="b-header"><span><strong>Выгодные предложения</strong></span></p> 
      <p><a class="menu_left" href="#">- Спецакции от рекламных агентств</a></p>	
<%= content_tag(:p, link_to("- Ликвидация остатков", main_app.on_sale_categories_path, :class => "menu_left") ) %>
<%= content_tag(:p, link_to("- Отличная цена", main_app.best_price_categories_path, :class => "menu_left") ) %>
