      <h3>Услуги клиентам</h3>
       <%= content_tag(:p, link_to( content_tag(:span, "Где купить") + " (офисы продаж)", main_app.firms_path, :class => "menu_left"),:class =>"places-for-sale" ) %>     
      <p><%= link_to "- Доставка до офиса", main_app.content_path('dostavka'), :class=> "menu_left" %></p>
      <p><%= link_to "- Рекламные агентства", main_app.firms_path, :class=> "menu_left" %></p>	
      <p><%= link_to "- Нанесение логотипа", main_app.content_path('nanesenie-logotipa'), :class=> "menu_left" %></p>	
