<div class="content"> 
<div class="center_block"> 
<p class="product_h"><strong>Рубрика: <a class="menu_left" href="#"><%= @category.name %></a></strong></p> 
</div> <!-- end center_block --> 
 
<div class="center_block"> 

<%= render :partial => 'foreign/shared/paginate', :object=> @products %>
</div> <!-- end center_block --> 
 
<div class="center_block" id="catalog_items"> 
  <% for product  in @products do -%>
    <%= render :partial => 'foreign/shared/product', :object=>product %>  
  <% end -%>
  	
  <div class="clear"></div> 
</div> <!-- end center_block --> 
 
<div class="center_block"> 

<%= render :partial => 'foreign/shared/paginate', :object=> @products %>
<div class="mrg"></div>
</div> <!-- end center_block --> 
 
 
</div> <!-- end content --> 
