  <p class="lk_t">Вы вошли как   [<%=  current_user.username %>]</p>
      <p class="lk_t"><%= link_to "Администрирование", admin_path if current_user.is_admin_user? %></p>
      <p class="lk_t"><%= link_to "Личный кабинет", lk_index_path if current_user.is_lk_user? %></p>
      <p class="lk_t"><%= link_to "Выход", logout_path  %></p>

