<div id="logo_dialog" class="modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Нанесение логотипа</h3>
  </div>
  
  <div class="modal-body">
  <div class="row">
  <div class="workplace span6 well">
    <h3>Изображение товара</h3>
    <div class="controls">
      <div class="button-container" title="Удалить белый фон"><span class="remove-bg"></span></div>
      <div class="button-container" title="Уменьшить логотип"><span class="zoom-out"></span></div>
      <div class="button-container" title="Увеличить логотип"><span class="zoom-in"></span></div>
      <div class="button-container" title="Повернуть логотип влево"><span class="rotate-left"></span></div>
      <div class="button-container" title="Повернуть логотип вправо"><span class="rotate-right"></span></div>
      <div></div>
      <div class="clear"></div>
    </div>  
    <% geometry = Paperclip::Geometry.from_file(@item.lk_product.picture.path) -%>
    <%= content_tag :div, image_tag(@item.lk_product.picture.url, geometry.width >= geometry.height ?  {:width => 450} : {:height => 450}) , :id => "logo", :data => {
        :save_url => commercial_offer_logo_path(@commercial_offer, @item), 
        :picture_url => @item.lk_product.picture.url } %>   
    <div class="status">
        x: <span id="l_x">0</span>  
        y: <span id="l_y">0</span>
        увел: <span  id="sc">100%</span>
        град: <span id="rt">0</span>
    </div>      
  </div>  

  <div class="palette span3">
   <h3>Загрузка логотипа</h3>  
    <%= form_tag load_commercial_offer_logo_path(@commercial_offer, @item), :remote => true do %>     
    <div>
        <%=  file_field_tag :picture, :accept=> "image/gif, image/jpeg, image/jpg", :onchange => "$(this).parents('form').submit()"%>
    </div>   
    <div id="logo_stack"></div>            
    <% end -%>
  </div>    
  
  </div> <!--row-->
  
  <div class="modal-footer">
    <div class="muted pull-left">
    Внимание! Данный функционал работает в режиме тестирования!
  </div>
      <button id="save" class="btn btn-primary">Сохранить</button> 
      <a href="#" class="btn" data-dismiss="modal">Отмена</a>      
  </div>
  </div>
</div>    
